<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="wide wow-animation" lang="en">
<head>
<title>Rent</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<!-- Stylesheets-->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,500%7CTeko:300,400,500%7CMaven+Pro:500">
<link rel="stylesheet" href="/SpanTasty/starcups/css/bootstrap.css">
<link rel="stylesheet" href="/SpanTasty/starcups/css/fonts.css">
<link rel="stylesheet" href="/SpanTasty/starcups/css/style.css">
<style>
.ie-panel{
    display: none;
    background: #212121;
    padding: 10px 0;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
    clear: both;
    text-align:center;
    position: relative;
    z-index: 1;
}

html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
    display: block;
}

p.global-primary.dark-primary.section-title::after {
    content: '';
    display: block;
    width: 25px; /* 設定線條的寬度 */
    height: 3px; /* 設定線條的高度 */
    background-color: darkgrey; /* 設定線條的顏色 */
    margin: 20px auto 0; /* 調整線條與文字之間的距離 */
}

.section-title {
    font-size: 20px; /* 調整文字大小 */
    color: #333; /* 調整文字顏色 */
    text-align: center; /* 文字居中 */
    font-weight: bold;
}

.Grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 讓每個項目占據最少250px寬度，並自動填充 */
    gap: 20px; /* 產品之間的間距 */
}

.Grid-products-item {
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.Grid-products-item:hover {
    transform: translateY(-5px); /* 在懸停時使產品項目上移 */
}
</style>
</head>
<body>
<!-- navbar  th:replace=-->
<div th:replace="~{starcups/display/navbar}" ></div>
<!-- 選單下方圖片及連結 -->
    <section class="section breadcrumbs-custom-inset">
      <div class="breadcrumbs-custom context-dark">
        <div class="container">
          <h2 class="breadcrumbs-custom-title">Single Tableware</h2>
          <ul class="breadcrumbs-custom-path">
            <li><a href="/SpanTasty/StarCups">Home</a></li>
            <li class="active">Single Tableware</li>
          </ul>
        </div>
        <!-- 圖片-->
        <div class="box-position novi-bg novi-bg-img" style="background-image: url(images/bg-breadcrumbs.jpg);"></div>
      </div>
    </section>
	
<section class="section pt-4 novi-bg novi-bg-img section-xl bg-default text-md-start">
	<div class="container">
	    <div class="row row-90 row-fix justify-content-center">
	        <div class="Grid-item Grid-products-item" style="margin-bottom: 10px;">
	            <p class="global-primary dark-primary section-title">
	                <span> Checkout  Tableware </span>
	            </p>
	        </div>
		</div>
	</div>
</section>
<!-- Shopping Cart-->
      <section class="section novi-bg novi-bg-img section-xl bg-default text-md-start">
        <div class="container">
          <h4 class="text-spacing-50">租借車</h4>
          <!-- shopping-cart-->
          <div class="table-custom-responsive">
            <table class="table-custom table-cart">
              <thead>
                <tr>
                  <th>租借用具</th>
                  <th>項目金額</th>
                  <th>租借數量</th>
                  <th>項目總金額</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="rentItem : ${rentItems}" th:data-tablewareId="${rentItem.tableware.tablewareId}">
                  <td><div class="table-cart-figure"><img th:src="${rentItem.tableware.tablewareImage != null ? tableware.tablewareImage : 'https://via.placeholder.com/450x400'}" alt="" width="100" height="100" /></div><div class="table-cart-link" th:text="${rentItem.tableware.tablewareName}"></div></td>
                  <td><span th:text="${rentItem.tableware.tablewareDeposit}"></span></td>
                  <td>
                  <span th:text="${rentItem.rentItemQuantity}"></span>
                  </td>
                  <td><span th:text="${rentItem.rentItemDeposit}"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <!-- Section payment-->
      <section class="section novi-bg novi-bg-img section-xl bg-default text-md-start">
        <div class="container">
          <div class="row row-50 justify-content-center">
            <div class="col-md-10 col-lg-6">
              <h4 class="text-spacing-50">Payment methods</h4>
              <div class="box-radio">
                <div class="radio-panel">
                  <label class="radio-inline active">
                    <input name="input-group-radio" value="checkbox-1" type="radio" checked>Direct Bank Transfer
                  </label>
                  <div class="radio-panel-content">
                    <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>
                  </div>
                </div>
                <div class="radio-panel">
                  <label class="radio-inline">
                    <input name="input-group-radio" value="checkbox-1" type="radio">PayPal
                  </label>
                  <div class="radio-panel-content">
                    <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                  </div>
                </div>
                <div class="radio-panel">
                  <label class="radio-inline">
                    <input name="input-group-radio" value="checkbox-1" type="radio">Cheque Payment
                  </label>
                  <div class="radio-panel-content">
                    <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-10 col-lg-6">
              <h4 class="text-spacing-50">Cart totals</h4>
              <div class="table-custom-responsive">
                <table class="table-custom table-custom-primary table-checkout">
                  <tbody>
                    <tr>
                      <td>訂單金額</td>
                      <td th:text=${totalDeposit}></td>
                    </tr>
                    <tr>
                      <td>Shipping</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>總金額</td>
                      <td th:text=${totalDeposit}></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="button-wrap text-center"><a class="button button-secondary button-pipaluk" href="#">Proceed to checkout</a></div>
        </div>
      </section>



<!-- Global Mailform Output-->
 <div class="snackbars" id="form-output-global"></div>
 <!-- footer  th:replace=-->
 <div th:replace="~{starcups/display/footer}" ></div>
 
<!-- Javascript-->
<script src="/SpanTasty/starcups/js/core.min.js"></script>
<script src="/SpanTasty/starcups/js/script.js"></script>

  </body>
</html>