<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="wide wow-animation"
	lang="en">
<head>
<title>Restaurant</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<!-- Stylesheets-->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,500%7CTeko:300,400,500%7CMaven+Pro:500">
<link rel="stylesheet" href="/SpanTasty/starcups/css/bootstrap.css">
<link rel="stylesheet" href="/SpanTasty/starcups/css/fonts.css">
<link rel="stylesheet" href="/SpanTasty/starcups/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
.ie-panel {
	display: none;
	background: #212121;
	padding: 10px 0;
	box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
	clear: both;
	text-align: center;
	position: relative;
	z-index: 1;
}

html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
	display: block;
}

.restaurant-img {
    width: 650px;
    height: auto; /* 保持比例 */
}
</style>

</head>
<body>
	<!-- navbar  th:replace=-->
	<div th:replace="~{starcups/display/navbar}"></div>

	<section class="section breadcrumbs-custom-inset">
		<div class="breadcrumbs-custom context-dark">
			<div class="container">
				<h2 class="breadcrumbs-custom-title" th:text="${restaurant.restaurantName}">Locations</h2>
				<ul class="breadcrumbs-custom-path">
					<li><a href="/SpanTasty/StarCups">Home</a></li>
					<li class="active"><a th:href="@{/StarCups/restaurant}">Locations</a></li>
					<li class="active" th:text="${restaurant.restaurantName}"></li>
				</ul>
			</div>
			<div class="box-position novi-bg novi-bg-img" style="background-image: url(images/bg-breadcrumbs.jpg);"></div>
		</div>
	</section>
	
	
      <!-- Single Project-->
      <section class="section novi-bg novi-bg-img section-xl bg-default">
        <div class="container">
          <div class="row row-50 justify-content-center align-items-xl-center">
            <div class="col-md-10 col-lg-6 col-xl-7">
              <div class="offset-right-xl-15">
				<img th:src="${restaurant.restaurantImg != null ? restaurant.restaurantImg : 'https://via.placeholder.com/450x400'}" alt="" class="restaurant-img img-fluid"/>
              </div>
            </div>
            <div class="col-md-10 col-lg-6 col-xl-5">
              <div class="single-project">
                <h4 th:text="${restaurant.restaurantName}"></h4>
                <p class="text-gray-500"  th:text="${restaurant.restaurantDesc}"></p>
                <div class="divider divider-30"></div>
                <ul class="list list-description d-inline-block d-md-block">
                  <li><span>Phone:</span><span  th:text="${restaurant.restaurantPhone}">Valley Accommodation Ltd.</span></li>
                  <li><span>Time:</span><span th:text="${restaurant.restaurantOpentime}+' - '+${restaurant.restaurantClosetime}"></span></li>
                  <li><span>Location:</span><span th:text="${restaurant.restaurantAddress}"></span></li>
                  <li><span>Categories:</span><span>Custom Projects</span></li>
                </ul>
                <div class="divider divider-30"></div>
                <div class="group-md group-middle justify-content-sm-start"><span class="social-title">Share</span>
                  <div>
                    <ul class="list-inline list-inline-sm social-list">
                      <li><a class="novi-icon icon fa fa-facebook" href="#"></a></li>
                      <li><a class="novi-icon icon fa fa-twitter" href="#"></a></li>
                      <li><a class="novi-icon icon fa fa-google-plus" href="#"></a></li>
                      <li><a class="novi-icon icon fa fa-instagram" href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>





	<!-- Global Mailform Output-->
	<div class="snackbars" id="form-output-global"></div>
	<!-- footer  th:replace=-->
	<div th:replace="~{starcups/display/footer}"></div>

	<!-- Javascript-->
	<script src="/SpanTasty/starcups/js/core.min.js"></script>
	<script src="/SpanTasty/starcups/js/script.js"></script>
</body>
</html>