<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="wide wow-animation" lang="en">
  <head>
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,500%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/bootstrap.css">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/fonts.css">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
      <!-- navbar  th:replace=-->
      <div th:replace="~{starcups/display/navbar}" ></div>
      <!-- Swiper-->
      <section class="section swiper-container swiper-slider swiper-slider-modern" data-loop="true" data-autoplay="5000" data-simulate-touch="true" data-nav="true" data-slide-effect="fade">
        <div class="swiper-wrapper text-start">
          <div class="swiper-slide" data-slide-bg="/SpanTasty/starcups/images/index/coffee.jpg">
            <div class="swiper-slide-caption">
              <div class="container">
                <div class="row row-fix">
                  <div class="col-11 col-sm-9 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
                    <div class="slider-modern-box">
                      <h2 class="oh slider-modern-title"><span data-caption-animate="slideInDown" data-caption-delay="0">星光閃耀</span><span data-caption-animate="slideInUp" data-caption-delay="0">美味隨行</span></h2>
                      <p data-caption-animate="fadeInRight" data-caption-delay="400">無論您身在何處,我們的星級美食都能準時送達。從香醇咖啡到精緻甜點,每一道菜品都閃耀著 Star Cups 的獨特風味。</p>
                      <div class="oh button-wrap"><a class="button button-default-outline-2 button-ujarak" href="shop.html" data-caption-animate="slideInLeft" data-caption-delay="400">Shop now</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-slide-bg="/SpanTasty/starcups/images/index/desert.jpg">
            <div class="swiper-slide-caption">
              <div class="container">
                <div class="row row-fix">
                  <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5 col-xxl-4">
                    <div class="slider-modern-box">
                      <h2 class="oh slider-modern-title"><span style="color:white" data-caption-animate="slideInLeft" data-caption-delay="0">預約您的</span><span style="color:white" data-caption-animate="slideInUp" data-caption-delay="0">星空座位</span></h2>
                      <p style="color:white" data-caption-animate="fadeInRight" data-caption-delay="400">無論是晨星初現還是夜空燦爛,我們都為您準備了完美的用餐體驗。,讓 Star Cups 成為您品味星級美食的私密空間。</p>
                      <div class="oh button-wrap" ><a class="button button-default-outline-2 button-ujarak" href="shop.html" data-caption-animate="slideInLeft" data-caption-delay="400" >Shop now</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-slide-bg="/SpanTasty/starcups/images/index/cups.jpg">
            <div class="swiper-slide-caption">
              <div class="container">
                <div class="row row-fix">
                  <div class="col-11 col-sm-8 col-md-7 col-lg-5 col-xxl-4">
                    <div class="slider-modern-box">
                      <h2 class="oh slider-modern-title"><span data-caption-animate="slideInDown" data-caption-delay="0">環保星光</span><span data-caption-animate="slideInLeft" data-caption-delay="0">閃耀永恆</span></h2>
                      <p data-caption-animate="fadeInRight" data-caption-delay="400">星級環保餐具租借服務,邀請您共同守護我們的星球。選擇我們精心設計的環保杯和餐盒,不僅能享受星級美食,更能為地球增添一份光芒。</p>
                      <div class="oh button-wrap"><a class="button button-default-outline-2 button-ujarak" href="shop.html" data-caption-animate="slideInUp" data-caption-delay="400">Shop now</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Swiper Navigation-->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <!-- Swiper Pagination-->
        <div class="swiper-pagination swiper-pagination-style-2"></div>
      </section>

      <!-- In the spotlight-->
      <section class="section section-xl bg-default novi-bg novi-bg-img">
        <div class="container">
          <div class="oh">
            <div class="title-decoration-lines wow slideInUp" data-wow-delay="0s">
              <h6 class="title-decoration-lines-content">What We Offer</h6>
            </div>
          </div>
          <div class="row row-30 justify-content-center " width="370" height="332">  
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop h-100">
                <!-- box Spotlight-->
                <article class="box-sportlight box-sportlight-sm wow slideInLeft" data-wow-delay="0s"><a class="box-sportlight-figure" th:href="@{/StarCups/menu}"><img src="/SpanTasty/starcups/images/index/MENU.png" alt="" width="370" height="332"/></a>
                  <div class="box-sportlight-caption">
                    <h5 class="box-sportlight-title"><a th:href="@{/StarCups/menu}">菜單</a></h5>
                    <div class="box-sportlight-arrow"></div>
                  </div>
                  <div class="box-sportlight-badge box-sportlight-new">New</div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh">
                <!-- box Spotlight-->
                <article class="box-sportlight wow slideInUp" data-wow-delay=".1s"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14465.764930897521!2d121.2217137!3d24.9851188!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34682183e7b783c3%3A0xf0ebfba2069b6158!2z6IGW5b635Z-6552j5a246Zmi!5e0!3m2!1szh-TW!2stw!4v1729500983697!5m2!1szh-TW!2stw" width="370" height="332" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <div class="box-sportlight-caption">
                    <h5 class="box-sportlight-title"><a href="#">分點資訊</a></h5>
                    <div class="box-sportlight-arrow"></div>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop " style="overflow:hidden">
                <!-- box Spotlight-->
                <article class="box-sportlight box-sportlight-sm wow slideInRight" data-wow-delay=".1s" ><a class="box-sportlight-figure" href="#"><img  src="/SpanTasty/starcups/images/index/point.png" alt="" width="370" height="332"/></a>
                  <div class="box-sportlight-caption">
                    <h5 class="box-sportlight-title"><a href="#">集點活動</a></h5>
                    <div class="box-sportlight-arrow"></div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- footer  th:replace=-->
    <div th:replace="~{starcups/display/footer}" ></div>
    
     <!-- Javascript-->
    <script src="/SpanTasty/starcups/js/core.min.js"></script>
    <script src="/SpanTasty/starcups/js/script.js"></script>

  </body>
</html>