<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>點數中心</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>
    .h200{
      height: 200px !important
    }
    .h23{
      height: 23px;
    }
  </style>
</head>
<body>
<div th:replace="~{/display/navbar}"></div>
<div class="content">
    <div class="container">
      <h1 class="mb-4 mt-3"><i class="fa-solid fa-p me-3 fa-bounce" style="color: #FFD43B;"></i></i>點數中心</h1>
        <!-- row1 -->
        <div class="row mb-3 ">
            <!-- card1 -->
            <div class="col-4 ">
                <div class="card h200 ">
                    <div class="card-header bg-white">
                      累計發放
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <p id="all_totalPoint" class="h1 text-success"><!-- 累計發放 --></p>
                        <!-- %% -->
                        <p>兌換率</p>
                        <div class="progress" role="progressbar" aria-label="Example with label"  >
                            <div id="all_usedPercentage" class="progress-bar" style="width: 90%"><!-- 兌換率 --></div>
                          </div>
                      </blockquote>
                    </div>
                </div>
            </div>
            <!-- card2 -->
            <div class="col-4 ">
                <div class="card h200">
                    <div class="card-header bg-white">
                      累計兌換
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <p id="all_totalUsedPoint" class="h1 text-danger"><!-- 累計兌換 --></p>
                        <p>累計過期</p>
                        <p id="all_totalExpierdPoint" class="h3 text-secondary"><!-- 累計過期 --></p>
                      </blockquote>
                    </div>
                  </div>
            </div>
            <div class="col-4 ">
                <!-- card3 -->
                <div class="card h200">
                    <div class="card-header bg-white">
                      點數設定
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <p id="simpleSet"><!-- 簡略點數設定 --></p>
                      </blockquote>
                    </div>
                    <div class="card-footer text-body-secondary text-end">
                            <a href="/SpanTasty/point/pointSet" class="card-link">查看詳細點數設定<i class="fa-solid fa-gear ms-2"></i></a>
                    </div>
                  </div>
            </div>
        </div>
        <!-- row2 -->
         <div class="row">
            <div class="col-12">
                <div class="card text-center mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <span>來源列表</span>
                      <!-- <button class="btn btn-primary me-md-2" type="button">Button</button> -->
                    </div>
                    <div class="card-body">
                      <!-- table -->
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">點數來源</th>
                            <th scope="col">累計發放</th>
                            <th scope="col">累計兌換</th>
                            <th scope="col">累計過期</th>
                            <th scope="col">兌換率</th>
                          </tr>
                        </thead>
                        <tbody id="pointsByTransaction">
                          <!-- <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                          </tr>                                         -->
                        </tbody>
                      </table>
                    </div>
                    <!-- <div class="card-footer text-body-secondary">
                      1212313123
                    </div> -->
                  </div>
            </div>
         </div>
         <!-- 提示文字 -->
         <div class="row">
          <div class="col-auto ms-auto">瀏覽會員列表，選擇要添加點數的會員，在每個想要添加點數的會員旁邊的複選框打勾<i class="fa-solid fa-circle-question ms-1 me-1"></i></div>
         </div>
         <!-- row3 -->
         <div class="row">
            <div class="col-12">
                <div class="card text-center mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <span>會員點數紀錄</span>
                      <div>
                        <button id="add" class="btn btn-info me-md- 2" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"  type="button">新增點數</button>
                        <button id="batchAdd" class="btn btn-outline-primary me-md-2" type="button">新增點數<i class="fa-regular fa-circle-question ms-1 fa-sm" style="color: #74C0FC;"></i></button>
                      </div>
                    </div>
                    <div class="card-body">
                      <!-- search bar -->
                      <div class="input-group mb-3">
                        <button  class="btn btn-outline-secondary" type="button" id="button-addon1"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input id="search" type="text" class="form-control" placeholder="搜尋會員編號、姓名及手機等資訊" >
                      </div>
                      <!-- add place -->
                      <div id="liveAlertPlaceholder" class="d-flex "></div>
                      <!-- table -->
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col"><input class="form-check-input" type="checkbox" value="" id="checkAll"></th>
                            <th scope="col">會員編號</th>
                            <th scope="col">姓名</th>
                            <th scope="col">電話</th>
                            <th scope="col">總點數</th>
                            <th scope="col">即將到期點數</th>
                            <th scope="col">到期日</th>
                            <th scope="col">#</th>
                          </tr>
                        </thead>
                        <tbody id="pointMembers">                       
                          <!-- <tr>
                            <th scope="row"><input name="selectedMembers" class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                            <td>1</td>
                            <td>John Doek</td>
                            <td>1234567890</td>
                            <td>1305</td>
                            <td>204</td>
                            <td>2025-01-16</td>
                            <td><i class="fa-solid fa-image-portrait fa-xl"></i></td>
                          </tr> -->
                      </table>                                     
                    </div>
                    <div class="card-footer text-body-secondary">
                      page not yet
                    </div>
                  </div>
            </div>
         </div>
    </div>

    <!-------------------------- Modal 批次點數---------------------------->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">新增點數紀錄</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!--------- 內容 --------->  
            <form th:method="post" th:action="@{/point/batchAdd/members}" > 
              <!-- 0 -->
              <div class="row mt-2">
                <div class="col align-items-center bg-secaondary" id="addBatch_message"><!-- 點數將新增給很多會員 --></div>
              </div>
              <!-- 1 -->
              <div class="row mt-2">
                <div class="col-6">調整方式</div>  
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="plusOrMinus" id="inlineRadio1" value="plus">
                    <label class="form-check-label" for="inlineRadio1">新增點數</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="plusOrMinus" id="inlineRadio2" value="minus">
                    <label class="form-check-label" for="inlineRadio2">扣除點數</label>
                  </div>
                </div>  
              </div>
              <!-- 2 -->
              <div class="row mt-2 align-items-center">
                <div class="col">點數數量</div>
                <div class="col"><input type="text" name="pointChange" class="form-control"></div>
              </div>
              <!-- 3 -->
              <div class="row mt-2">
                <div class="col align-items-center">開始日</div>
                <div class="col"><input type="date" name="createDate" class="form-control"></div>
              </div>
              <!-- 4 -->
              <div class="row mt-2">
                <div class="col align-items-center">到期日*</div>
                <div class="col"><input type="text" name="pointUsage" class="form-control" disabled placeholder="系統自動產生"></div>
              </div>
              <!-- 5 -->
              <div class="row mt-2">
                <div class="col align-items-center">交易來源*</div>
                <div class="col"><input type="text" name="transactionId" class="form-control" placeholder="訂單訂餐編號、其他原因"></div>
              </div>
              <!-- 6 -->
              <div class="row mt-2">
                <div class="col align-items-center">交易類型</div>
                <div class="col">
                  <select class="form-select" name="transactionType">
                    <option value="商城">商城</option>
                    <option value="訂餐">訂餐</option>
                    <option value="系統" selected>系統</option>
                  </select>
                </div>
              </div>
              <!-- 7 -->
              <div class="row mt-2">
                <div class="col align-items-center">人工調整原因*</div>
              </div>
              <div class="row mt-1">
                <div class="col"><input type="text" name="transactionDescription" class="form-control " placeholder="只會顯示在管理後台"></div>
              </div>
              <!--------- 內容 End--------->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
              <button type="submit" class="btn btn-primary">確定</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!---------------------------- Modal End------------------------------>

    <!-------------------------- Modal 新增點數---------------------------->
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">新增點數紀錄</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!--------- 內容 --------->  
            <form th:method="post" th:action="@{/point/member/point/new}" > 
              <!-- 0 -->
              <div class="row mt-2 align-items-center">
                <div class="col">會員編號</div>
                <div class="col"><input type="text" name="memberId" class="form-control"></div>
              </div>
              <!-- 1 -->
              <div class="row mt-2 align-items-center h23">
                <div class="col-6">調整方式</div>  
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="plusOrMinus" id="inlineRadio1" value="plus" required>
                    <label class="form-check-label" for="inlineRadio1">新增點數</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="plusOrMinus" id="inlineRadio2" value="minus" required>
                    <label class="form-check-label" for="inlineRadio2">扣除點數</label>
                  </div>
                </div>  
              </div>
              <!-- 2 -->
              <div class="row mt-2 align-items-center">
                <div class="col">點數數量</div>
                <div class="col"><input type="text" name="pointChange" class="form-control"></div>
              </div>
              <!-- 3 -->
              <div class="row mt-2">
                <div class="col align-items-center">開始日</div>
                <div class="col"><input type="date" name="createDate" class="form-control"></div>
              </div>
              <!-- 4 -->
              <div class="row mt-2">
                <div class="col align-items-center">到期日*</div>
                <div class="col"><input type="text" name="pointUsage" class="form-control" disabled placeholder="系統自動產生"></div>
              </div>
              <!-- 5 -->
              <div class="row mt-2">
                <div class="col align-items-center">交易來源*</div>
                <div class="col"><input type="text" name="transactionId" class="form-control" placeholder="訂單訂餐編號、其他原因" required></div>
              </div>
              <!-- 6 -->
              <div class="row mt-2">
                <div class="col align-items-center">交易類型</div>
                <div class="col">
                  <select class="form-select" name="transactionType">
                    <option value="商城">商城</option>
                    <option value="訂餐">訂餐</option>
                    <option value="系統" selected>系統</option>
                  </select>
                </div>
              </div>
              <!-- 7 -->
              <div class="row mt-2">
                <div class="col align-items-center">人工調整原因*</div>
              </div>
              <div class="row mt-1">
                <div class="col"><input type="text" name="transactionDescription" class="form-control " placeholder="只會顯示在管理後台"></div>
              </div>
              <!--------- 內容 End--------->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
              <button type="submit" class="btn btn-primary">確定</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!---------------------------- Modal End------------------------------>
</div>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/js/axios.min.js}"></script>
  <script>
    //頁面初次加載
    document.addEventListener('DOMContentLoaded',(e)=>{
      axios.get('/SpanTasty/point/pointCenter/show?p=1')
      .then(res=>{
        console.log(res.data)
        htmlMaker(res.data)
      })
      .catch(err=>{
        console.log("err :" + err);
      })
    })

    function htmlMaker(data){
      //row1
      document.getElementById('all_totalPoint').innerHTML=data.pointsAll.totalPoint
      document.getElementById('all_usedPercentage').style.width=data.pointsAll.usedPercentage
      document.getElementById('all_usedPercentage').textContent=data.pointsAll.usedPercentage
      document.getElementById('all_totalUsedPoint').innerHTML=data.pointsAll.totalUsedPoint
      document.getElementById('all_totalExpierdPoint').innerHTML=data.pointsAll.totalExpierdPoint
      document.getElementById('simpleSet').innerHTML=data.simpleSet
      //row2
      const pointTable = document.getElementById('pointsByTransaction')
      pointTable.innerHTML=''
      data.pointsByTransaction.forEach((element,index) => {
        pointTable .innerHTML +=`
                            <tr>
                              <th scope="row">${index+1}</th>
                              <td>${element.transaction}</td>
                              <td>${element.totalPoint}</td>
                              <td>${element.totalUsedPoint}</td>
                              <td>${element.totalExpierdPoint}</td>
                              <td>${element.usedPercentage}</td>
                            </tr>
                            `                           
      });
      //row3
      pointMemberHtmlMaker(data.pointMembers)
    }


    function pointMemberHtmlMaker(data){
      const pointMemberTable = document.getElementById('pointMembers')
      pointMemberTable.innerHTML=''
      data.content.forEach((e)=>{
       /* pointMemberTable.innerHTML +=`
                          <tr>
                            <th scope="row"><input name="selectedMembers" class="form-check-input" type="checkbox" value="${e.memberId}" id="flexCheckDefault"></th>
                            <td>${e.memberId}</td>
                            <td>${e.memberName}</td>
                            <td>${e.phone}</td>
                            <td>${e.totalPointBalance}</td>
                            <td>${(e.totalPointBalance != 0 && e.expiringPoints==0)? '已過期' : e.expiringPoints}</td>
                            <td>${e.expiryDate? e.expiryDate : "-"}</td>
                            <td><i class="fa-solid fa-image-portrait fa-xl edit-button" data-memberId="${e.memberId}"></i></td>
                          </tr> 
                          `*/
      pointMemberTable.innerHTML +=`
                          <tr>
                            <th scope="row"><input name="selectedMembers" class="form-check-input" type="checkbox" value="${e.memberId}" id="flexCheckDefault"></th>
                            <td>${e.memberId}</td>
                            <td>${e.memberName}</td>
                            <td>${e.phone}</td>
                            <td>${e.totalPointBalance}</td>
                            <td>${(e.totalPointBalance != 0 && e.expiringPoints==0)? '已過期' : e.expiringPoints}</td>
                            <td>${e.expiryDate? e.expiryDate : "-"}</td>
                            <td><i class="fa-solid fa-image-portrait fa-xl edit-button" data-memberId="${e.memberId}"></i></td>
                          </tr> 
                          `                                 

      }) 

      pointMemberTable.addEventListener('click', function(event) {
        if (event.target.classList.contains('edit-button')) {
            const memberId = event.target.getAttribute('data-memberId');
            window.location.href = `/SpanTasty/point/member/${memberId}`;
        }
    });

    }

  //查詢
  document.getElementById('button-addon1').addEventListener('click',()=>{
    const keyWord = document.getElementById('search').value
    axios.get(`/SpanTasty/point/api/search?q=${keyWord}`)
    .then(res=>{
      console.log(res.data)
      pointMemberHtmlMaker(res.data)
    })
    .catch(err=>{
      console.log(err);
      
    })
  }) 
  
  

  //批次新增
  const alertPlaceholder = document.getElementById('liveAlertPlaceholder');
  document.addEventListener('DOMContentLoaded', (event) => {
    const appendAlert = (message, type, memberId) => {
        const wrapper = document.createElement('div');
        wrapper.innerHTML = [
            `<div class="alert alert-${type} alert-dismissible" role="alert" data-member-id="${memberId}" name="alerts" >`,
            `   <div>${message}</div>`,
            '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
            '</div>'
        ].join('');

        alertPlaceholder.appendChild(wrapper);
    };

    const removeAlert = (memberId) => {
        const alertToRemove = alertPlaceholder.querySelector(`[data-member-id="${memberId}"]`);
        if (alertToRemove) {
            alertToRemove.remove();
        }
    };

    // 使用事件委託來處理複選框的變化
    document.getElementById('pointMembers').addEventListener('change', function(event) {
        if (event.target.name === 'selectedMembers') {
            if (event.target.checked) {
                appendAlert(`已選擇會員 ${event.target.value}`, 'success', event.target.value);
            } else {
                removeAlert(event.target.value);
            }
        }
    });

    // 全選複選框邏輯
    let checkAll = document.getElementById("checkAll");
    checkAll.addEventListener('change', function() {
        let checkboxes = document.getElementsByName("selectedMembers");
        if (checkAll.checked) {
            for (let checkbox of checkboxes) {
                if (!checkbox.checked) {
                    checkbox.checked = true;
                    appendAlert(`已選擇會員 ${checkbox.value}`, 'success', checkbox.value);
                }
            }
        } else {
            for (let checkbox of checkboxes) {
                if (checkbox.checked) {
                    checkbox.checked = false;
                    removeAlert(checkbox.value);
                }
            }
        }
    });


	});


  document.getElementById("batchAdd").addEventListener('click', function(e) {
        // let selectedMembers = [];
        // let checkboxes = document.getElementsByName("selectedMembers");

        // // 收集所有打勾的複選框
        // for (let index = 0; index < checkboxes.length; index++) {
        //     if (checkboxes[index].checked) {
        //         selectedMembers.push(checkboxes[index].value);
        //     }
        // }

        // if (selectedMembers.length === 0) {
        //     e.preventDefault();
        //     alert("請選擇至少一個會員");
        //     return;
        // }

        let selectedMembers = [];
        let alerts = alertPlaceholder.querySelectorAll('.alert');

        alerts.forEach(alert => {
            selectedMembers.push(alert.dataset.memberId);
        });

        if (selectedMembers.length === 0) {
            e.preventDefault();
            alert("請選擇至少一個會員");
            return;
        }
        console.log(selectedMembers);
        // 如果有選擇會員，手動顯示 modal
        var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
        myModal.show();

        // 使用 fetch API 發送 AJAX 請求
        fetch('/SpanTasty/point/api/batchAdd', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(selectedMembers)
        })
        .then(response => response.text())
        .then(data => {console.log(data);
            // if (data==='success') {
            //     // 你可以在這裡執行刷新頁面或其他操作
                
            //     // window.location.href='/SpanTasty/point/batchAdd/members';

            // } else {
            //     alert("新增點數失敗");
            // }
          document.getElementById('addBatch_message').textContent=data

       })
        .catch(error => {
            console.error('Error:', error);
            alert("請求失敗");
        });
    });
    
    //navbar side
    document.addEventListener("DOMContentLoaded", function() {
     showSidebar('points');
	});
 

  </script>
  
</body>
</html>