<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>菜單新增</title>
    <style>
        .description {
            padding-left: 5px;
            color: #ADADAD;
            font-size: 0.9em;
        }

        .error {
            padding-left: 5px;
            color: red;
            font-size: 0.7em;
        }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
</head>

<body>
    <div th:replace="~{display/navbar}"></div>
    <!-- 主要內容區域 -->
    <div class="content">
        <div class="container mt-2">
            <h1 class="display-6">☕新增菜單☕</h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-secondary btn-sm" id="autoFillBtn">一鍵填入</button>
            </div>
            <form id="menuForm" class="row g-3 mt-1">
                <div class="col-md-4">
                    <label for="foodName" class="form-label">餐點名稱</label>
                    <input type="text" class="form-control" id="foodName" name="foodName" required>
                    <span class="error text-danger" id="foodNameError"></span>
                </div>
                <div class="col-md-4">
                    <label for="foodPicture" class="form-label">圖片上傳</label>
                    <input type="file" class="form-control" id="foodPicture" name="foodPicture">
                </div>
                <div class="col-md-4">
                    <label for="foodPrice" class="form-label">價格</label>
                    <input type="text" class="form-control" id="foodPrice" name="foodPrice" required>
                    <span class="error text-danger" id="foodPriceError"></span>
                </div>
                <div class="col-md-4">
                    <label for="foodKindId" class="form-label">餐點種類</label>
                    <select name="foodKindId" id="foodKindId" class="form-select" required>
                        <option value="" selected>請選擇種類</option>
                        <th:block th:each="foodKind : ${foodKinds}">
                            <option th:value="${foodKind.foodKindId}" th:text="${foodKind.foodKindName}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="foodStock" class="form-label">庫存</label>
                    <input type="text" class="form-control" id="foodStock" name="foodStock">
                    <span class="error text-danger" id="foodStockError"></span>
                </div>
                <div class="col-md-4">
                    <label for="foodStatus" class="form-label">餐點狀態</label>
                    <select class="form-select" id="foodStatus" name="foodStatus" aria-label="Default select example"
                        required>
                        <option selected value="">請選擇</option>
                        <option value="1">正常供應</option>
                        <option value="2">停售</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="foodDescription" class="form-label">餐點描述</label>
                    <textarea class="form-control" id="foodDescription" name="foodDescription" rows="3"></textarea>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <button type="submit" id="addBtn " class="btn btn-primary" value="add">菜單提交</button>
                    <a href="http://localhost:8080/SpanTasty/order/menu" class="btn btn-secondary ms-2">返回全部</a>
                </div>
            </form>


        </div>
    </div>


    <script>

        document.addEventListener("DOMContentLoaded", function () {
            showSidebar('order');


            document.getElementById("menuForm").addEventListener("submit", function (event) {
                event.preventDefault();

                if (validateForm()) {
                    const submitter = document.querySelector("button[value=add]");
                    const menuForm = document.getElementById("menuForm");
                    const formDataObject = new FormData(menuForm, submitter);

                    // 發送 POST 請求
                    axios.post('http://localhost:8080/SpanTasty/order/menu', formDataObject)
                        .then(function (response) {
                            console.log(response.data);
                            alert("菜單已成功提交！");
                            //提交後回到getAllTogo
                            window.location.href = 'http://localhost:8080/SpanTasty/order/menu';
                        })
                        .catch(function (error) {
                            console.error("提交菜單時發生錯誤：", error);
                            alert("提交失敗，請稍後再試。");
                        })

                } else {
                    alert("請修正表單中的錯誤！");
                }

            })
        })


        document.getElementById("autoFillBtn").addEventListener("click", function () {
            // 填入輸入框
            document.getElementById("foodName").value = "國慶蛋糕";
            document.getElementById("foodPrice").value = "10";
            document.getElementById("foodKindId").value = "5";
            document.getElementById("foodStock").value = "16";
            document.getElementById("foodStatus").value = "2";
            document.getElementById("foodDescription").value = "雙十國慶限定";


        });

        // 判斷格式
        const constraints = {
            foodName: {
                presence: {
                    allowEmpty: false,
                    message: "餐點名稱不得為空白"
                }
            },
            foodPrice: {
                numericality: {
                    onlyInteger: true,
                    greaterThan: 0,
                    message: "餐點價格必須為正整數"
                }
            },
        };
        function validateForm() {
            const isValid = true;
            ['foodName', 'foodPrice'].forEach(field => {
                const input = document.querySelector(`input[name="${field}"]`);
                validateField(input, field);
                if (document.getElementById(`${field}Error`).textContent !== '') {
                    isValid = false;
                }
            });
            return isValid;
        }

        // 驗證字段函數
        function validateField(input, fieldName) {
            const value = input.value;
            const errors = validate({ [fieldName]: value }, { [fieldName]: constraints[fieldName] });
            const errorSpan = document.getElementById(`${fieldName}Error`);

            if (errors && errors[fieldName]) {
                // 使用 constraints 中的 message 來顯示錯誤信息
                if (constraints[fieldName].presence) {
                    errorSpan.textContent = constraints[fieldName].presence.message;
                } else if (constraints[fieldName].format) {
                    errorSpan.textContent = constraints[fieldName].format.message;
                } else if (constraints[fieldName].numericality) {
                    errorSpan.textContent = constraints[fieldName].numericality.message;
                }
            } else {
                errorSpan.textContent = '';
            }
        }

        // 綁定 blur 事件來驗證輸入框
        const foodName = document.getElementById('foodName');
        const foodPrice = document.getElementById('foodPrice');
        const foodStock = document.getElementById('foodStock');

        foodName.addEventListener('blur', function () {
            console.log("foodName blur triggered");
            validateField(this, 'foodName');
        });

        foodPrice.addEventListener('blur', function () {
            console.log("foodPrice blur triggered");
            validateField(this, 'foodPrice');
        });

        foodStock.addEventListener('blur', function () {
            console.log("foodStock blur triggered");
            const value = foodStock.value;

            const regex = /^\d*$/;
            // 驗證
            if (value === '' || regex.test(value)) {
                // 輸入有效
                console.log("有效的foodStock值:", value);
                // 清除錯誤訊息
                document.getElementById('foodStockError').textContent = '';
            } else {
                // 輸入無效
                console.log("無效的foodStock值:", value);
                // 顯示錯誤訊息
                document.getElementById('foodStockError').textContent = '庫存只能為數字或空白';
            }

        });


    </script>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
</body>

</html>