<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>新增訂單</title>
</head>

<body>
    <div th:replace="~{display/navbar}"></div>
    <div class="content">
        <div class="container mt-1">
            <h1 class="display-6">📍新增訂單📍</h1>
            <form id="togoForm" class="row g-3 mt-1">
                <div class="col-md-4">
                    <label for="memberId" class="form-label">會員編號</label>
                    <input type="text" class="form-control" id="memberId">
                </div>
                <div class="col-md-4">
                    <label for="tgName" class="form-label">姓名</label>
                    <input type="text" class="form-control" id="tgName">
                </div>
                <div class="col-md-4">
                    <label for="tgPhone" class="form-label">電話</label>
                    <input type="text" class="form-control" id="tgPhone">
                </div>
                <div class="col-md-4">
                    <label for="rentId" class="form-label">租借單號</label>
                    <input type="text" class="form-control" id="rentId">
                </div>
                <div class="col-md-4">
                    <label for="restaurantId" class="form-label">取餐餐廳</label>
                    <select name="restaurantId" id="restaurantId" class="form-select" required>
                        <option value="" selected>請選擇餐廳</option>
                        <th:block th:each="restaurant : ${restaurants}">
                            <option th:value="${restaurant.restaurantId}" th:text="${restaurant.restaurantName}">
                            </option>
                        </th:block>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="togoStatus" class="form-label">取餐狀態</label>
                    <select class="form-select" id="togoStatus" aria-label="Default select example">
                        <option selected value="">請選擇</option>
                        <option value="1">未取餐</option>
                        <option value="2">已取餐</option>
                        <option value="3">已取消</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="togoMemo" class="form-label">訂單備註</label>
                    <textarea class="form-control" id="togoMemo" rows="3"></textarea>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <button type="submit" id="addBtn " class="btn btn-primary">訂單提交</button>
                    <a href="http://localhost:8080/SpanTasty/order/togo" class="btn btn-secondary ms-2">返回全部</a>
                </div>
            </form>
        </div>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            showSidebar('order');

            document.getElementById("togoForm").addEventListener("submit", function (event) {
                event.preventDefault();
                // 表單數據
                const newTogo = {
                    memberId: document.getElementById("memberId").value,
                    tgName: document.getElementById("tgName").value,
                    tgPhone: document.getElementById("tgPhone").value,
                    rentId: document.getElementById("rentId").value,
                    restaurantId: document.getElementById("restaurantId").value,
                    togoStatus: document.getElementById("togoStatus").value,
                    togoMemo: document.getElementById("togoMemo").value
                };

                // 發送 POST 請求
                axios.post('http://localhost:8080/SpanTasty/order/togo', newTogo)
                    .then(function (response) {
                        console.log(response.data);
                        alert("訂單已成功提交！");
                        //提交後回到getAllTogo
                        window.location.href = 'http://localhost:8080/SpanTasty/order/togo';
                    })
                    .catch(function (error) {
                        console.error("提交訂單時發生錯誤：", error);
                        alert("提交失敗，請稍後再試。");
                    })
            })
        })




    </script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
</body>
</html>