<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <div th:replace="~{display/navbar}"></div>
    <!-- 主要內容區域 -->
    <div class="content">
        <h1 class="display-6">訂單</h1>
        <button id="getAllTogo" class="btn btn-primary">全部訂單</button>
        <div class="col-11">
            <table id="demoData" class="table table-bordered table-striped" style="display:none;">
                <thead class="thead-light">
                    <tr>
                        <th>訂單編號</th>
                        <th>會員編號</th>
                        <th>姓名</th>
                        <th>電話</th>
                        <th>訂單金額</th>
                        <th>成立時間</th>
                        <th>租借單號</th>
                        <th>訂單狀態</th>
                        <th>餐廳編號</th>
                        <th>訂單備註</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 動態生成資料 -->
                </tbody>
            </table>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            showSidebar('order');

            const getTogoBtn = document.getElementById('getAllTogo')
            getTogoBtn.addEventListener('click', function (e) {
                const table = document.getElementById('demoData');
                table.style.removeProperty('display');
            })
        })




    </script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
</body>

</html>