<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Restaurant</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
</head>
<body>
<div th:replace="~{spantasty/display/navbar}"></div>
<!-- 主要內容區域 -->
<div class="content">
	
    
    <h2 class="mb-4 d-flex justify-content-center">餐 廳 桌 位 種 類</h2>
    
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="mb-2 d-flex justify-content-end">
                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addTableTypeModal">+新增餐廳桌位種類</button>
            </div>
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>餐廳名稱</th>
                        <th>桌位種類代碼</th>
                        <th>桌位種類座位數</th>
                        <th>桌位數量</th>
                        <th>修改桌位數量</th>
                        <th>刪除桌位種類</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="table : ${tables}">
                        <tr>
                            <td th:text="${restaurant.restaurantName}"></td>
                            <td th:text="${table.tableType.tableTypeId}"></td>
                            <td th:text="${table.tableType.tableTypeName} + '人桌'"></td>
                            <td th:text="${table.tableTypeNumber}"></td>
                            <td>
                                <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#setTableModal" 
                                        th:data-tabletypeid="${table.tableType.tableTypeId}" th:data-tabletypename="${table.tableType.tableTypeName}" 
                                        th:data-tabletypenumber="${table.tableTypeNumber}">修改</button>
                            </td>
                            
							<td id="delRestaurantTableBtn" class="align-middle">
							    <button th:data-table-type-id="${table.tableType.tableTypeId}" th:data-restaurant-id="${restaurant.restaurantId}" 
							            class="btn btn-danger btn-sm" onclick="confirmDelete(this)">刪除</button>
							</td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 新增桌位種類的模態框 -->
    <div class="modal fade" id="addTableTypeModal" tabindex="-1" aria-labelledby="addTableTypeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTableTypeModalLabel">新增餐廳桌位種類</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                
                    <form method="post" th:action="@{/table/add}">
                        <div class="mb-3">
                            <input type="hidden" name="restaurantId" th:value="${restaurant.restaurantId}" />

                            <label for="tableTypeId" class="form-label">選擇桌位種類:</label>
					        <select name="tableTypeId" class="form-select" required>
					            <option value="" disabled selected>請選擇桌位種類</option> <!-- 提供一個默認提示 -->
					            <th:block th:each="type : ${tableTypes}">
					                <option th:value="${type.tableTypeId}" th:text="${type.tableTypeId} + ' (' + ${type.tableTypeName} + '人桌)'"></option>
					            </th:block>
					        </select>
                        </div>
                        <div class="mb-3">
                            <label for="tableTypeNumber" class="form-label">輸入桌位數量:</label>
                            <input type="number" class="form-control" name="tableTypeNumber" min="0" max="20" required />
                        </div>
                        <button type="submit" class="btn btn-primary">確定</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
	<!-- 新增桌位種類的模態框 -->
	
	
	
    <!-- 修改桌位種類的模態框 -->
    <div class="modal fade" id="setTableModal" tabindex="-1" aria-labelledby="setTableModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="setTableModalLabel">修改餐廳桌位種類</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                
                    <form th:method="PUT" th:action="@{/table/set}">
                        <div class="mb-3">
                            <input type="hidden" name="restaurantId" th:value="${restaurant.restaurantId}" />
                            <input type="hidden" name="tableTypeId" id="setTableTypeId" />

                            <label for="tableTypeId" class="form-label">選擇桌位種類:</label>
					        <select name="setTableTypeId" class="form-select" disabled>
					            <th:block th:each="type : ${tableTypes}">
					                <option th:value="${type.tableTypeId}" th:text="${type.tableTypeId} + ' (' + ${type.tableTypeName} + '人桌)'"></option>
					            </th:block>
					        </select>
                        </div>
                        <div class="mb-3">
                            <label for="tableTypeNumber" class="form-label">輸入桌位數量:</label>
                            <input type="number" class="form-control" id="setTableTypeNumber" name="tableTypeNumber" min="0" max="20" required />
                        </div>
                        <button type="submit" class="btn btn-primary">確定</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
	<!-- 修改桌位種類的模態框 -->
	
	
	
	
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        showSidebar('reservation');
    });
    

    document.addEventListener("DOMContentLoaded", function() {
        // 監聽 setTableModal 的顯示事件
        const setTableModal = document.getElementById('setTableModal');
        setTableModal.addEventListener('show.bs.modal', function (event) {
            // 取得觸發按鈕
            const button = event.relatedTarget;
            
            // 從按鈕的 data-attributes 中取得值
            const tableTypeId = button.getAttribute('data-tabletypeid');
            const tableTypeName = button.getAttribute('data-tabletypename');
            const tableTypeNumber = button.getAttribute('data-tabletypenumber');
            console.log(tableTypeId)
            console.log(tableTypeName)
            console.log(tableTypeNumber)
            
            // 找到模態框中的表單元素
            const selectTableTypeId = setTableModal.querySelector('select[name="setTableTypeId"]');
            const inputTableTypeNumber = setTableModal.querySelector('input[name="tableTypeNumber"]');
            const hiddenInput = setTableModal.querySelector('#setTableTypeId');
            
            // 設定桌位種類選項的值和顯示的名稱
            // selectTableTypeId.disabled = false; 
            selectTableTypeId.value = tableTypeId;
            hiddenInput.value = tableTypeId;
            
            // 將數量設為預設值
            inputTableTypeNumber.value = tableTypeNumber;
        });
    });
    
    
	function confirmDelete(button) {
	    const tableTypeId = button.getAttribute('data-table-type-id');
	    const restaurantId = button.getAttribute('data-restaurant-id');
	    
	    Swal.fire({
	        title: "確定刪除？",
	        text: "一旦刪除，將無法恢復！",
	        icon: "warning",
	        showCancelButton: true,
	        confirmButtonText: "刪除",
	        cancelButtonText: "取消",
	    }).then((result) => {
	        if (result.isConfirmed) {
	            // 使用 axios 發送 DELETE 請求
	            axios.delete(`/SpanTasty/table/del?restaurantId=${restaurantId}&tableTypeId=${tableTypeId}`)
	                .then(response => {
	                    if (response.status === 200) {
						    Swal.fire("刪除成功！", "", "success").then(() => {
						        location.reload(); // 立即重新加載頁面
						    });
	                        // 延遲 3 秒後重新加載頁面
	                        setTimeout(() => {
	                            location.reload(); // 重新加載頁面
	                        }, 3000);
	                    }
	                })
	                .catch(error => {
	                    Swal.fire("發生錯誤！", "請稍後再試。", "error");
	                    console.error('刪除失敗：', error);
	                });
	        } else {
	            Swal.fire("您的資料未被刪除！");
	        }
	    });
	}


    
</script>
</body>
</html>
