<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Restaurant</title>
<style>
.restaurant-img img {
    height: 330px; /* 或其他需要的高度 */
    object-fit: cover; /* 或使用 contain */
}
</style>

</head>
<body>
<div th:replace="~{spantasty/display/navbar}" ></div>
<!-- 主要內容區域 -->
<div class="content">

    <h2 class="text-center text-warning-emphasis">餐 廳 資 料</h2>

    <div class="row justify-content-center restaurant-info">
        <div class="col-md-10"> <!-- 設定卡片寬度 -->
            <div class="card bg-dark text-white rounded-3 d-flex flex-row align-items-center">
                <div class="restaurant-img flex-shrink-0">
    <img th:src="${restaurant.restaurantImg != null ? restaurant.restaurantImg : 'https://via.placeholder.com/450x400'}" 
         alt="Restaurant Image" class="img-fluid rounded-3 m-3">                </div>
                <div class="restaurant-details flex-grow-1 p-3">
                    <form>
                    <div class="mt-0 d-flex justify-content-end">
                        <a th:href="@{/table/getAll(restaurantId=${restaurant.restaurantId})}" class="btn btn-success me-2">查看餐廳桌位</a>
                        <!-- <a href="#" class="btn btn-success">餐廳訂位</a>  -->
                    </div>
                    
                        <label class="form-label mb-0">餐廳名稱 :</label>
                        <input type="text" class="form-control text-warning mb-1 bg-secondary" th:value="${restaurant.restaurantName}" disabled>

                        <label class="form-label mb-0">餐廳地址 :</label>
                        <input type="text" class="form-control text-warning mb-1 bg-secondary" th:value="${restaurant.restaurantAddress}" disabled>

                        <label class="form-label mb-0">餐廳電話 :</label>
                        <input type="text" class="form-control text-warning mb-1 bg-secondary" th:value="${restaurant.restaurantPhone}" disabled>

                        <label class="form-label mb-0">營業時間 :</label>
                        <input type="text" class="form-control text-warning mb-1 bg-secondary" th:value="${restaurant.restaurantOpentime} + ' ~ ' + ${restaurant.restaurantClosetime}" disabled>

                        <label class="form-label mb-0">用餐時間限制 :</label>
                        <input type="text" class="form-control text-warning mb-1 bg-secondary" th:value="${restaurant.eattime}" disabled>

                        <label class="form-label mb-0">餐廳描述 :</label>
                        <textarea class="form-control text-warning mb-1 bg-secondary" th:text="${restaurant.restaurantDesc}" disabled></textarea>
                    </form>

                </div>
            </div>
        </div>
    </div>
  
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        showSidebar('reservation');
    });
</script>
</body>
</html>
