<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>訂單資料</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- 引入 SweetAlert2 -->
    <style>
        .custom-button {
            background: none;
            border: none;
            cursor: pointer;
            color: #9d80f4;
        }
        .custom-button-delete {
            color: #6140c4;
        }
        .custom-button-add {
            color: #1b2b46;
        }
    </style>
</head>
<body>
    <div th:replace="~{spantasty/display/navbar}"></div>
    <div class="content">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-11">
                    <div class="card bg-light text-dark shadow">
                        <div class="card-header bg-transparent border-0 d-flex justify-content-between align-items-center">
                            <h2 class="mb-0">訂單資料</h2>
                            <a th:href="@{/shoppingOrder/add}" class="custom-button-add">
                                <i class="fa-solid fa-file-circle-plus"></i> 新增訂單
                            </a>
                        </div>
                        <div class="table-responsive">
                            <table id="shoppingTable" class="table table-striped table-hover text-center">
                                <thead>
                                    <tr style="background-color: #9D9D9D">
                                        <th>訂單編號</th>
                                        <th>訂單總金額</th>
                                        <th>訂單日期</th>
                                        <th>會員編號</th>
                                        <th>會員姓名</th>
                                        <th>訂單狀態</th>
                                        <th>訂單備註</th>
                                        <th>訂單明細</th>
                                        <th>訂單狀態修改</th>
                                        <th>訂單刪除</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <th:block th:each="shopping : ${shoppings}">
                                        <tr>
                                            <td th:text="${shopping.shoppingId}"></td>
                                            <td th:text="${shopping.shoppingTotal}"></td>
                                            <td th:text="${shopping.formattedShoppingDate}"></td>
                                            <td th:text="${shopping.memberId}"></td>
                                            <td th:text="${shopping.member != null ? shopping.member.memberName : '無會員資料'}"></td>
                                            <td>
                                                <span th:switch="${shopping.shoppingStatus}">
                                                    <span th:case="1">待確認</span>
                                                    <span th:case="2">已結帳</span>
                                                    <span th:case="3">其他</span>
                                                    <span th:case="*">未知狀態</span>
                                                </span>
                                            </td>
                                            <td th:text="${shopping.shoppingMemo}"></td>
                                            <td>
                                                <form th:action="@{/shoppingItem/itemDetail/{id}(id=${shopping.shoppingId})}" method="get">
                                                    <button type="submit" class="custom-button">
                                                        <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <form th:action="@{/shoppingOrder/update/{id}(id=${shopping.shoppingId})}" method="get">
                                                    <button type="submit" class="custom-button">
                                                        <i class="fa-regular fa-pen-to-square fa-xl"></i>
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <form th:action="@{/shoppingOrder/del/{id}(id=${shopping.shoppingId})}" method="post" onsubmit="return confirmDelete(event);">
                                                    <input type="hidden" name="_method" value="delete"/>
                                                    <button type="submit" class="custom-button custom-button-delete">
                                                        <i class="fa-solid fa-trash-arrow-up fa-xl"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>
                        </div>
                        <h5>
                            共<span th:text="${shoppings != null ? shoppings.size() : 0}">0</span>筆訂單資料
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#shoppingTable').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true
            });
        });

        function confirmDelete(event) {
            event.preventDefault(); // 防止表單提交
            const form = event.target; // 獲取當前表單
            Swal.fire({
                title: "請確認是否要刪除該筆訂單",
                text: "刪除後將無法復原",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "確定",
                cancelButtonText: "取消"
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit(); // 確認後提交表單
                }
            });
        }

        document.addEventListener("DOMContentLoaded", function() {
            showSidebar('store');
        });
    </script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
</body>
</html>
