<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="wide wow-animation" lang="en">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="format-detection" content="telephone=no">
  <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <!-- Stylesheets-->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Poppins:400,500%7CTeko:300,400,500%7CMaven+Pro:500">
  <link rel="stylesheet" href="/SpanTasty/starcups/css/bootstrap.css">
  <link rel="stylesheet" href="/SpanTasty/starcups/css/fonts.css">
  <link rel="stylesheet" href="/SpanTasty/starcups/css/style.css">
    <style>
    .ie-panel {
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
      clear: both;
      text-align: center;
      position: relative;
      z-index: 1;
    }

    html.ie-10 .ie-panel,
    html.lt-ie-10 .ie-panel {
      display: block;
    }
    .button-md {
	    min-width: 100px !important;
	}
  </style>
</head>
<body>
 <!-- navbar  th:replace=-->
  <div th:replace="~{starcups/display/navbar}"></div>
  <!-- Breadcrumbs -->
  <section class="section breadcrumbs-custom-inset">
    <div class="breadcrumbs-custom context-dark">
      <div class="container">
        <h2 class="breadcrumbs-custom-title">Points Notice</h2>
        <ul class="breadcrumbs-custom-path">
          <li><a href="/SpanTasty/StarCups">Home</a></li>
          <li class="active">Points Notice</li>
        </ul>
      </div>
      <div class="box-position novi-bg novi-bg-img" style="background-image: url(images/bg-breadcrumbs.jpg);"></div>
    </div>
  </section>
  <!--  -->
  <section class="section novi-bg novi-bg-img section-xl bg-default text-md-start">
    <div class="container d-flex justify-content-center">
    
    
   <!-- Quote Modern-->
      <article class="quote-creative w-50"><a class="quote-creative-figure" href="#"><img class="img-circles"
            src="/SpanTasty/starcups/images/point/pointlogo.jpg" alt="" width="87" height="87" /></a>
        <div class="quote-creative-text ">
        	<p class="h4 quote-creative-cite ">點數公告</p>
			<P id="pointSetText"></P>
        </div>
      </article>             
  	</div>
  	<div class="d-flex justify-content-center mt-3">
        <button class="button button-md button-secondary button-pipaluk " onclick="window.history.back()">BACK</button>  	
  	</div>
  	</section>
   <!-- footer  th:replace=-->
  <div th:replace="~{starcups/display/footer}"></div>
  <!-- Javascript-->
  <script src="/SpanTasty/starcups/js/core.min.js"></script>
  <script src="/SpanTasty/starcups/js/script.js"></script>
  <script>
  document.addEventListener('DOMContentLoaded',function(){
  	axios.get('/SpanTasty/StarCups/pointSet/show')
  	.then(res=>{
  		document.getElementById('pointSetText').innerHTML=res.data
  		
  	})
  })
  </script>
</body>
</html>