<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="wide wow-animation" lang="en">
  <head>
    <title>點數總攬</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,500%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/bootstrap.css">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/fonts.css">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
      <!-- navbar  th:replace=-->
      <div th:replace="~{starcups/display/navbar}" ></div>
      <!-- Breadcrumbs -->
      <section class="section breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom context-dark">
          <div class="container">
            <h2 class="breadcrumbs-custom-title">Point</h2>
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li class="active">Point</li>
            </ul>
          </div>
          <div class="box-position novi-bg novi-bg-img" style="background-image: url(images/bg-breadcrumbs.jpg);"></div>
        </div>
      </section>
      <!-- container -->
      <section class="section novi-bg novi-bg-img section-xl bg-default text-md-start">
        <div class="container">
          <div class="row row-70 justify-content-center">
            <div class="col-12">
              <!-- Quote Creative-->
              <article class="quote-creative"><a class="quote-creative-figure" href="#"><img class="img-circles" src="/SpanTasty/starcups/images/point/pointlogo.jpg" alt="" width="87" height="87"/></a>
                <div class="quote-creative-text" id="totalPointDiv">
                  <span>需要登入才能繼續</span>
                  <!-- <span class="h3 quote-creative-cite">500</span><span>點 可用點數</span></div></br>
                  <span>125 點 到期日 2023/01/01</span> -->
                </div>
              </article>
              <!-- table -->
              <div class="col-12 mt-3">
                <!-- Bootstrap tabs-->
                <div class="tabs-custom tabs-horizontal tabs-corporate" id="tabs-3">
                  <!-- Nav tabs-->
                  <ul class="nav nav-tabs">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-3-1" data-bs-toggle="tab" id="tabAll">所有紀錄</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-3-2" data-bs-toggle="tab" id="tabGet">已獲得</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-3-3" data-bs-toggle="tab" id="tabUse">已使用</a></li>
                  </ul>
                  <!-- Tab panes-->
                  <div class="tab-content">
                    <!-- 1 -->
                    <div class="tab-pane fade show active" id="tabs-3-1">
                        <!-- row -->
                      <!-- <div class="row">
                        <div class="col-2">
                          <a class="" href="#"><img class="img-circles" src="/SpanTasty/starcups/images/point/coinget.jpg" alt="" width="87" height="87"/></a>
                        </div>
                        <div class="col-4 me-auto">
                          <ul class="">
                            <li><span>商城</span><span></span></li>
                            <li><span>2023/01/01</span><span></span></li>
                            <li><span>到期日:</span><span>2024/01/01</span></li>
                          </ul>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                          <h4>+100</h4>
                        </div>
                      </div> -->
                      <!-- row -->
                      <!-- <div class="row">
                        <div class="col-2">
                          <a class="" href="#"><img class="img-circles" src="/SpanTasty/starcups/images/point/coinuse.jpg" alt="" width="87" height="87"/></a>
                        </div>
                        <div class="col-4 me-auto">
                          <ul class="">
                            <li><span>商城</span><span></span></li>
                            <li><span>2023/01/01</span><span></span></li>
                            <li><span>到期日:</span><span>2024/01/01</span></li>
                          </ul>
                        </div>
                        <div class="col-2 d-flex lign-items-center">
                          <h4>-100</h4>
                        </div>
                      </div> -->
                      <!-- row -->
                    </div>
                    <!-- 2 -->
                    <div class="tab-pane fade" id="tabs-3-2">
                      <!-- row -->
                      <!-- <div class="row">
                        <div class="col-2">
                          <a class="" href="#"><img class="img-circles" src="/SpanTasty/starcups/images/point/coinuse.jpg" alt="" width="87" height="87"/></a>
                        </div>
                        <div class="col-4 me-auto">
                          <ul class="">
                            <li><span>商城</span><span></span></li>
                            <li><span>2023/01/01</span><span></span></li>
                            <li><span>到期日:</span><span>2024/01/01</span></li>
                          </ul>
                        </div>
                        <div class="col-2 align-items-center">
                          <h4>-100</h4>
                        </div>
                      </div>                 -->
                    </div>  
                    <!-- 3 -->
                    <!-- <div class="tab-pane fade" id="tabs-3-3">
                      <p>We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site. Our blog and social media accounts are available to encourage communication and connection between clients and personnel and tell you more about us in the informal environments where we can have a dialogue instead of just a narrative like that.</p>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="pagination-wrap" >
          <!-- Bootstrap Pagination-->
          <nav aria-label="Page navigation" id="pointPagination">
            <ul class="pagination">
              <li class="page-item page-item-control disabled"><a class="page-link" href="#" aria-label="Previous"><span class="icon" aria-hidden="true"></span></a></li>
              <li class="page-item active"><span class="page-link">1</span></li>
              <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li> -->
              <li class="page-item page-item-control"><a class="page-link" href="#" aria-label="Next"><span class="icon" aria-hidden="true"></span></a></li>
            </ul>
          </nav>
        </div>
      </section>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- footer  th:replace=-->
    <div th:replace="~{starcups/display/footer}" ></div>




     <!-- Javascript-->
    <script src="/SpanTasty/starcups/js/core.min.js"></script>
    <script src="/SpanTasty/starcups/js/script.js"></script>
   
    <script>
      let pageData;
      let memberId;
      document.addEventListener('DOMContentLoaded',(e)=>{
        const token = localStorage.getItem('token');
        if(!token){
          console.error('Notoken found')
          alert('需要登入才能繼續')
          window.location.href='/SpanTasty/StarCups/loginRegister'
          return;
        }

        //第一次axios
        axios.get('/SpanTasty/member/profile',{
          headers:{
            'Authorization':`${token}`
          }
        })
        .then(response=>{
          if(response.data.success){
            const memberData = response.data.data
            memberId = memberData.memberId
            console.log('會員資訊:',memberData);

            //第二次axios
            return axios.get('/SpanTasty/StarCups/point/show',{
              headers:{
                'Content-Type':'application/json'
              },
              params:{
                memberId:memberData.memberId
              }
            })
          } else{
            throw new Error('無法獲取會員資訊')
          }
        })
        .then(pointsResponse=>{
          console.log(pointsResponse.data);
          HtmlMaker(pointsResponse.data)
          pageData=pointsResponse.data.pointsById
        })
        .catch(err=>{
          console.err('發生錯誤',error)
        })
      })

      const getCoinURL ='/SpanTasty/starcups/images/point/coinget.jpg'
      const useCoinURL =`/SpanTasty/starcups/images/point/coinuse.jpg`   
      function HtmlMaker(data){
        if(data.pointMember==null){
          document.getElementById('totalPointDiv').innerHTML=`
            <div class="d-flex justify-content-center">
              <span class="h6 quote-creative-cite">目前沒有可用點數。</span>
            </div>
          `
          return
        }


        //點數總攬
        document.getElementById('totalPointDiv').innerHTML=`
          <span class="h3 quote-creative-cite">${data.pointMemberTotalPoint}</span><span>點 可用點數</span></div></br>
          <span>${data.pointMember.expiringPoints} 點 到期日 ${data.pointMember.expiryDate?data.pointMember.expiryDate:'-/-/-' }</span>`
        //點數紀錄
        pointHtmlMaker(data.pointsById)
        //點數page
        paginationHtmlMaker(data.pointsById)
        
        
      }      
      function pointHtmlMaker(data){
        const pointDiv = document.getElementById('tabs-3-1')
        const points = data.content
        pointDiv.innerHTML=''
        points.forEach(point => {
          pointDiv.innerHTML +=`
            <div class="row">
              <div class="col-2">
                <a class="" href="#"><img class="img-circles" src=${point.pointChange>0 ? getCoinURL : useCoinURL} alt="" width="87" height="87"/></a>
              </div>
              <div class="col-4 me-auto">
                <ul class="">
                  <li><span>${point.transactionType}</span><span></span></li>
                  <li><span>${point.createDate}</span><span></span></li>
                  ${point.expiryDate? `<li><span>到期日:</span><span>${point.expiryDate}</span></li>` : ''}
                </ul>
              </div>
              <div class="col-2 d-flex align-items-center justify-content-center">
                <h4 style="${point.pointChange>0? 'color: #976f55;':''}">${point.pointChange}</h4>
              </div>
            </div>`
        });
        
      }
      function paginationHtmlMaker(data){
        const pagination = document.getElementById('pointPagination')
        pagination.innerHTML=`
          <ul class="pagination">
            <li class="page-item page-item-control ${data.first ? 'disabled' : ''}"><a class="page-link pagePrevious" href="#" aria-label="Previous"><span class="icon" aria-hidden="true"></span></a></li>
            ${paginationLi(data)}
            <li class="page-item page-item-control ${data.last ? 'disabled' : ''}"><a class="page-link pageNext" href="#" aria-label="Next"><span class="icon" aria-hidden="true"></span></a></li>
          </ul>`

        pagination.removeEventListener('click',paginationClickHandler)                       
        pagination.addEventListener('click',paginationClickHandler)
      }
      function paginationLi(data){
        const pages = data.totalPages
        let paginationLi='';
        for (let index = 0; index < pages; index++) {
          paginationLi += `<li class="page-item ${index === data.number  ? 'active' : ''}"><a class="page-link pageBtn" data-page=${index} href="#">${index+1}</a></li>`    
        }
        
        return paginationLi
      }
      function paginationClickHandler(){
        event.preventDefault();
        const pageItem = event.target.closest('a')
          if (!pageItem) return;
          console.log('pageData',pageData);
          
          let newPage;
          
          if(pageItem.classList.contains('pageBtn')){
            // url=`/SpanTasty/StarCups/point/showPage?p=${pageItem.dataset.page}`
            newPage=pageItem.dataset.page
          }
          if(pageItem.classList.contains('pagePrevious') && !pageData.first){
              console.log("previous");
              newPage=pageData.number-1//1 2 3 4  0 1 2 3  //  2 3 4 5   1 2 3 4  

          }
          if(pageItem.classList.contains('pageNext') && !pageData.last){
              console.log("next");
              newPage=pageData.number+1 //0 1 2 3  1 2 3 4   //1 2 3 4  2 3 4 5        

          }

          axios.get(`/SpanTasty/StarCups/point/showPage?p=${newPage}`,{
            headers:{
                'Content-Type':'application/json'
              },
              params:{
                memberId:memberId
              }
          })
          .then(res=>{
            console.log(res.data)

            pointHtmlMaker(res.data)           
            paginationHtmlMaker(res.data);            
            pageData=res.data
            })
            .catch(err=>{
              console.log("err :" + err);
            })  
       }
       //-----------------------------------------------------------------------------------------------
        document.getElementById('tabGet').addEventListener('click',()=>{
          const token = localStorage.getItem('token');
        if(!token){
          console.error('Notoken found')
          alert('需要登入才能繼續')
          window.location.href='/SpanTasty/StarCups/loginRegister'
          return;
        }

        //第一次axios
        axios.get('/SpanTasty/member/profile',{
          headers:{
            'Authorization':`${token}`
          }
        })
        .then(response=>{
          if(response.data.success){
            const memberData = response.data.data
            memberId = memberData.memberId
            console.log('會員資訊:',memberData);

            //第二次axios
            return axios.get('/SpanTasty/StarCups/point/showGet',{
              headers:{
                'Content-Type':'application/json'
              },
              params:{
                memberId:memberData.memberId
              }
            })
          } else{
            throw new Error('無法獲取會員資訊')
          }
        })
        .then(pointsResponse=>{
          console.log(pointsResponse.data);
          HtmlMaker2(pointsResponse.data)
          pageData=pointsResponse.data.pointsById
        })
        .catch(err=>{
          console.err('發生錯誤',error)
        })
      })


      function HtmlMaker2(data){
        if(data.pointMember==null){
          document.getElementById('totalPointDiv').innerHTML=`
            <div class="d-flex justify-content-center">
              <span class="h6 quote-creative-cite">目前沒有可用點數。</span>
            </div>
          `
          return
        }


        //點數總攬
        document.getElementById('totalPointDiv').innerHTML=`
          <span class="h3 quote-creative-cite">${data.pointMemberTotalPoint}</span><span>點 可用點數</span></div></br>
          <span>${data.pointMember.expiringPoints} 點 到期日 ${data.pointMember.expiryDate?data.pointMember.expiryDate:'-/-/-' }</span>`
        //點數紀錄
        pointHtmlMaker2(data.pointsById)
        //點數page
        paginationHtmlMaker2(data.pointsById)
        
        
      }      
      function pointHtmlMaker2(data){
        const pointDiv = document.getElementById('tabs-3-2')
        const points = data.content
        pointDiv.innerHTML=''
        points.forEach(point => {
          pointDiv.innerHTML +=`
            <div class="row">
              <div class="col-2">
                <a class="" href="#"><img class="img-circles" src=${point.pointChange>0 ? getCoinURL : useCoinURL} alt="" width="87" height="87"/></a>
              </div>
              <div class="col-4 me-auto">
                <ul class="">
                  <li><span>${point.transactionType}</span><span></span></li>
                  <li><span>${point.createDate}</span><span></span></li>
                  ${point.expiryDate? `<li><span>到期日:</span><span>${point.expiryDate}</span></li>` : ''}
                </ul>
              </div>
              <div class="col-2 d-flex align-items-center justify-content-center">
                <h4 style="${point.pointChange>0? 'color: #976f55;':''}">${point.pointChange}</h4>
              </div>
            </div>`
        });
        
      }
      function paginationHtmlMaker2(data){
        const pagination = document.getElementById('pointPagination')
        pagination.innerHTML=`
          <ul class="pagination">
            <li class="page-item page-item-control ${data.first ? 'disabled' : ''}"><a class="page-link pagePrevious" href="#" aria-label="Previous"><span class="icon" aria-hidden="true"></span></a></li>
            ${paginationLi2(data)}
            <li class="page-item page-item-control ${data.last ? 'disabled' : ''}"><a class="page-link pageNext" href="#" aria-label="Next"><span class="icon" aria-hidden="true"></span></a></li>
          </ul>`

                   
        pagination.removeEventListener('click',paginationClickHandler)                       
        pagination.removeEventListener('click',paginationClickHandler2)                       
        pagination.addEventListener('click',paginationClickHandler2)
      }
      function paginationLi2(data){
        const pages = data.totalPages
        let paginationLi='';
        for (let index = 0; index < pages; index++) {
          paginationLi += `<li class="page-item ${index === data.number  ? 'active' : ''}"><a class="page-link pageBtn" data-page=${index} href="#">${index+1}</a></li>`    
        }
        
        return paginationLi
      }
      function paginationClickHandler2(){
        event.preventDefault();
        const pageItem = event.target.closest('a')
          if (!pageItem) return;
          console.log('pageData',pageData);
          
          let newPage;
          
          if(pageItem.classList.contains('pageBtn')){
            // url=`/SpanTasty/StarCups/point/showPage?p=${pageItem.dataset.page}`
            newPage=pageItem.dataset.page
          }
          if(pageItem.classList.contains('pagePrevious') && !pageData.first){
              console.log("previous");
              newPage=pageData.number-1//1 2 3 4  0 1 2 3  //  2 3 4 5   1 2 3 4  

          }
          if(pageItem.classList.contains('pageNext') && !pageData.last){
              console.log("next");
              newPage=pageData.number+1 //0 1 2 3  1 2 3 4   //1 2 3 4  2 3 4 5        

          }

          axios.get(`/SpanTasty/StarCups/point/showGetPage?p=${newPage}`,{
            headers:{
                'Content-Type':'application/json'
              },
              params:{
                memberId:memberId
              }
          })
          .then(res=>{
            console.log(res.data)

            pointHtmlMaker2(res.data)           
            paginationHtmlMaker2(res.data);            
            pageData=res.data
            })
            .catch(err=>{
              console.log("err :" + err);
            })  
        }
    </script>
    <script>
      
    </script>
  </body>
</html>