<!-- Page Header-->
<header class="section page-header">
  <!-- RD Navbar-->
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
      data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
      data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
      data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px"
      data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="70px" data-lg-stick-up="true" data-xl-stick-up="true"
      data-xxl-stick-up="true">
      <div class="rd-navbar-main-outer">
        <div class="rd-navbar-main">
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
            <!-- RD Navbar Brand-->
            <div class="rd-navbar-brand"><a class="brand" href="/SpanTasty/StarCups"><img
                  src="/SpanTasty/starcups/images/index/logo-starcups.png" alt="" width="149" height="46" /></a></div>
          </div>
          <div class="rd-navbar-main-element">
            <div class="rd-navbar-nav-wrap">
              <!-- RD Navbar Basket-->

              <!-- RD Navbar Search-->
              <ul>
                <li class="rd-nav-item">
                  <a id="auth-link" class="rd-nav-link" href="/SpanTasty/StarCups/loginRegister">login</a>
                </li>
              </ul>

              <!-- <div class="rd-navbar-search">
                      <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search"><span></span></button>
                      <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                        <div class="form-wrap">
                          <label class="form-label" for="rd-navbar-search-form-input">Search...</label>
                          <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>
                          <div class="rd-search-results-live" id="rd-search-results-live"></div>
                          <button class="rd-search-form-submit fl-bigmug-line-search74" type="submit"></button>
                        </div>
                      </form>
                    </div> -->
              <!--------------------------------------------- 導航欄位!!!!!!!!!!!!!!!! --------------------------------------------->
              <!-- RD Navbar Nav-->
              <ul class="rd-navbar-nav">
                <li class="rd-nav-item active"><a class="rd-nav-link" href="/SpanTasty/StarCups">首頁</a>
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="/SpanTasty/StarCups/menu">菜單</a>
                  <!-- RD Navbar Dropdown-->
                  <!-- 
                  <ul class="rd-menu rd-navbar-dropdown">
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-gallery.html">Grid Gallery</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="full-width-gallery.html">Full width
                        Gallery</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="masonry-gallery.html">Masonry
                        Gallery</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="full-width-masonry-gallery.html">Full
                        Width Masonry Gallery</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-project.html">Single
                        Project</a></li>
                  </ul>
                   -->
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="/SpanTasty/StarCups/reserve">線上訂位</a>
                  <!-- RD Navbar Dropdown-->
                  <ul class="rd-menu rd-navbar-dropdown">
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-gallery.html">Grid Gallery</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="full-width-gallery.html">Full width
                        Gallery</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="masonry-gallery.html">Masonry
                        Gallery</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="full-width-masonry-gallery.html">Full
                        Width Masonry Gallery</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-project.html">Single
                        Project</a></li>
                  </ul>
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="/SpanTasty/StarCups/order">線上點餐</a>
                  <!-- RD Navbar Dropdown-->
                  <ul class="rd-menu rd-navbar-dropdown">
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-gallery.html">Grid Gallery</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="full-width-gallery.html">Full width
                        Gallery</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="masonry-gallery.html">Masonry
                        Gallery</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="full-width-masonry-gallery.html">Full
                        Width Masonry Gallery</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-project.html">Single
                        Project</a></li>
                  </ul>
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="/SpanTasty/StarCups/allProduct">商城</a>
                  <!-- RD Navbar Dropdown-->
                  <ul class="rd-menu rd-navbar-dropdown">
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="classic-blog.html">Classic Blog</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-blog.html">Grid Blog</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-blog-2.html">Grid Blog 2</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-blog-3.html">Grid Blog 3</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-post.html">Blog Post</a></li>
                  </ul>
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="/SpanTasty/StarCups/rental/home">租借</a>
                  <!-- RD Navbar Dropdown-->
                  <ul class="rd-menu rd-navbar-dropdown">
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                        href="/SpanTasty/StarCups/rental/lookbook">租借圖冊</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                        href="/SpanTasty/StarCups/rental/rent">開始租借</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                        href="javascript:void(0)" onclick="toAllRent()">訂單明細</a></li>
                  </ul>
                </li>
                <li class="rd-nav-item">
                  <a class="rd-nav-link" id="member-center-link" href="#">會員</a>
                  <!-- RD Navbar Dropdown -->
                  <ul class="rd-menu rd-navbar-dropdown">
                    <li class="rd-dropdown-item"><a id="member-info-link" class="rd-dropdown-link"
                        href="/SpanTasty/StarCups/memberCenter">帳戶管理</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                        href="/SpanTasty/StarCups/coupon">測試會員優惠券入口</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                        href="/SpanTasty/StarCups/point">測試會員點數入口</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-------------------------------------------- 頭像 -------------------------------------------->
            <div class="rd-navbar-nav-wrap">
              <div class="memberNavbar-info" style="display: flex; align-items: center">
                <img id="memberNavbar-avatar" src="/SpanTasty/starcups/images/account/defaultUser.jpeg"
                  alt="User Avatar" style="width: 30px; height: 30px; border-radius: 50%;">
                <span id="memberNavbar-name" style="margin-left: 7px; margin-right: 10px; font-size: 14px;">訪客</span>
              </div>
            </div>
            <!-------------------------------------------- 漢堡 -------------------------------------------->
            <div class="rd-navbar-project-hamburger" data-multitoggle=".rd-navbar-main"
              data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate="data-multitoggle-isolate"
              style="display:none">
              <div class="project-hamburger"><span class="project-hamburger-arrow-top"></span><span
                  class="project-hamburger-arrow-center"></span><span class="project-hamburger-arrow-bottom"></span>
              </div>
              <div class="project-hamburger-2"><span class="project-hamburger-arrow"></span><span
                  class="project-hamburger-arrow"></span><span class="project-hamburger-arrow"></span>
              </div>
              <div class="project-close"><span></span><span></span></div>
            </div>
          </div>
          <div class="rd-navbar-project rd-navbar-modern-project">
            <div class="rd-navbar-project-modern-header">
              <h4 class="rd-navbar-project-modern-title">Follow us</h4>
              <div class="rd-navbar-project-hamburger" data-multitoggle=".rd-navbar-main"
                data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate="data-multitoggle-isolate">
                <div class="project-close"><span></span><span></span></div>
              </div>
            </div>
            <div class="rd-navbar-project-content rd-navbar-modern-project-content">
              <div>
                <p class="text-spacing-25">Want to get the latest flooring ideas from our team? Follow us on Instagram
                  to keep up with the newest trends and offers from Parquetry.</p>
                <div class="row row-10 gutters-10" data-lightgallery="group">
                  <div class="col-6 col-lg-4">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary"><a class="thumbnail-mary-figure"
                        href="images/gallery-image-14-1200x800-original.jpg" data-lightgallery="item"><img
                          src="/SpanTasty/starcups/images/index/logo-starcups.png" alt="" width="124"
                          height="124" /></a>
                      <div class="thumbnail-mary-caption">
                        <div class="icon fl-bigmug-line-zoom60"></div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6 col-lg-4">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary"><a class="thumbnail-mary-figure"
                        href="images/grid-gallery-3-1200x800-original.jpg" data-lightgallery="item"><img
                          src="/SpanTasty/starcups/images/index/logo-starcups.png" alt="" width="124"
                          height="124" /></a>
                      <div class="thumbnail-mary-caption">
                        <div class="icon fl-bigmug-line-zoom60"></div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6 col-lg-4">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary"><a class="thumbnail-mary-figure"
                        href="images/grid-gallery-5-1200x800-original.jpg" data-lightgallery="item"><img
                          src="/SpanTasty/starcups/images/index/logo-starcups.png" alt="" width="124"
                          height="124" /></a>
                      <div class="thumbnail-mary-caption">
                        <div class="icon fl-bigmug-line-zoom60"></div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6 col-lg-4">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary"><a class="thumbnail-mary-figure"
                        href="images/gallery-image-17-530x800-original.jpg" data-lightgallery="item"><img
                          src="/SpanTasty/starcups/images/index/logo-starcups.png" alt="" width="124"
                          height="124" /></a>
                      <div class="thumbnail-mary-caption">
                        <div class="icon fl-bigmug-line-zoom60"></div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6 col-lg-4">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary"><a class="thumbnail-mary-figure"
                        href="images/grid-gallery-2-530x800-original.jpg" data-lightgallery="item"><img
                          src="/SpanTasty/starcups/images/index/logo-starcups.png" alt="" width="124"
                          height="124" /></a>
                      <div class="thumbnail-mary-caption">
                        <div class="icon fl-bigmug-line-zoom60"></div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6 col-lg-4">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary"><a class="thumbnail-mary-figure"
                        href="images/grid-gallery-1-570x800-original.jpg" data-lightgallery="item"><img
                          src="/SpanTasty/starcups/images/index/logo-starcups.png" alt="" width="124"
                          height="124" /></a>
                      <div class="thumbnail-mary-caption">
                        <div class="icon fl-bigmug-line-zoom60"></div>
                      </div>
                    </article>
                  </div>
                </div>
                <ul class="rd-navbar-modern-contacts">
                  <li>
                    <div class="unit unit-spacing-sm">
                      <div class="unit-left"><span class="novi-icon icon fa fa-phone"></span></div>
                      <div class="unit-body"><a class="link-phone" href="tel:#">+1 323-913-4688</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-sm">
                      <div class="unit-left"><span class="novi-icon icon fa fa-location-arrow"></span></div>
                      <div class="unit-body"><a class="link-location" href="#">4730 Crystal Springs Dr, Los Angeles, CA
                          90027</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-sm">
                      <div class="unit-left"><span class="novi-icon icon fa fa-envelope"></span></div>
                      <div class="unit-body"><a class="link-email" href="mailto:#">mail@demolink.org</a></div>
                    </div>
                  </li>
                </ul>
                <ul class="list-inline rd-navbar-modern-list-social">
                  <li><a class="novi-icon icon fa fa-facebook" href="#"></a></li>
                  <li><a class="novi-icon icon fa fa-twitter" href="#"></a></li>
                  <li><a class="novi-icon icon fa fa-google-plus" href="#"></a></li>
                  <li><a class="novi-icon icon fa fa-instagram" href="#"></a></li>
                  <li><a class="novi-icon icon fa fa-pinterest" href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const memberCenterLink = document.getElementById('member-center-link');
    const authLink = document.getElementById('auth-link');

    const memberNavbarNameElement = document.getElementById('memberNavbar-name');
    const memberNavbarAvatarElement = document.getElementById('memberNavbar-avatar');

    const token = localStorage.getItem('token');
    if (token) {
      memberCenterLink.href = '/SpanTasty/StarCups/memberCenter';
      console.log('已登入，Token:', token);
      navbarGetProfile(); // 獲取會員資訊
      navbarGetAvatar();  // 獲取會員頭像
    } else {
      memberCenterLink.href = '/SpanTasty/StarCups/loginRegister';
      console.log('未登入');
    }

    // 使用 axios 獲取會員個人資訊
    function navbarGetProfile() {
      axios.get('/SpanTasty/member/profile', {
        headers: {
          'Authorization': `${token}`
        }
      })
        .then(response => {
          if (response.data.success) {
            const member = response.data.data;
            // 更新使用者名稱
            memberNavbarNameElement.textContent = member.memberName || '訪客';  // 如果沒有名稱，顯示「訪客」
          } else {
            console.log('無法獲取會員資料: ' + response.data.message);
            memberNavbarNameElement.textContent = '訪客';  // 顯示「訪客」作為預設
          }
        })
        .catch(error => {
          console.error('獲取會員資訊錯誤:', error);
          memberNavbarNameElement.textContent = '訪客';  // 顯示「訪客」作為預設
        });
    }

    // 使用 axios 獲取會員頭像
    function navbarGetAvatar() {
      axios.get('/SpanTasty/member/getAvatar', {
        headers: {
          'Authorization': `${token}`
        }
      })
        .then(response => {
          if (response.data.success && response.data.data) {
            // 如果有頭像資料，將其顯示
            const navbarBase64Avatar = response.data.data;
            memberNavbarAvatarElement.src = `data:image/jpeg;base64,${navbarBase64Avatar}`;
          } else {
            console.log(response.data.message);
            // 如果沒有頭像資料，使用預設頭像
            memberNavbarAvatarElement.src = '/SpanTasty/starcups/images/account/defaultUser.jpeg';
          }
        })
        .catch(error => {
          userAvatarElement.src = '/SpanTasty/starcups/images/account/defaultUser.jpeg';
        });
    }

    if (token) {
      // 已登入，顯示登出按鈕
      authLink.textContent = 'logout';
      authLink.href = '#';  // 你可以讓 logout 不跳轉
      authLink.addEventListener('click', function () {
        // 發送登出請求給後端
      axios.post('/SpanTasty/member/logout', {}, {
        headers: {
          'Authorization': `${token}` // 將 token 放入 header 中
        }
      })
      .then(response => {
        if (response.data.success) {
          // 清除 localStorage 中的 token
          localStorage.removeItem('token');
          alert('已登出');
          // 跳轉到首頁或其他頁面
          window.location.href = '/SpanTasty/StarCups';
        } else {
          alert('登出失敗，請重試');
        }
      })
      .catch(error => {
        console.error('登出錯誤:', error);
        alert('登出過程中發生錯誤');
      });
      });
    } else {
      // 未登入，顯示登入按鈕
      authLink.textContent = 'login';
      authLink.href = '/SpanTasty/StarCups/loginRegister';  // 導向登入頁面
    }
  });

	// toAllRent
	function toAllRent() {
	    const token = localStorage.getItem('token');
	    if (!token) {
	        alert('Token 不存在，請重新登錄。');
	        return;
	    }
	    // 直接設置網址，並將 token 作為 URL 參數發送
	    window.location.href = `/SpanTasty/StarCups/rental/allRent?token=${token}`;
	}


</script>