<!-- Page Header-->
<header class="section page-header">
  <!-- RD Navbar-->
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
      data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
      data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
      data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px"
      data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="70px" data-lg-stick-up="true" data-xl-stick-up="true"
      data-xxl-stick-up="true">
      <div class="rd-navbar-main-outer">
        <div class="rd-navbar-main">
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
            <!-- RD Navbar Brand-->
            <div class="rd-navbar-brand"><a class="brand" href="/SpanTasty/StarCups"><img
                  src="starcups/images/index/logo-starcups.png" alt="" width="149" height="46" /></a></div>
          </div>
          <div class="rd-navbar-main-element">
            <div class="rd-navbar-nav-wrap">
              <!-- RD Navbar Basket-->

              <!-- RD Navbar Search-->
              <ul>
                <li class="rd-nav-item">
                  <a id="auth-link" class="rd-nav-link" href="/SpanTasty/StarCups/loginRegister">login</a>
                </li>
              </ul>
              <!-- <div class="rd-navbar-search">
                      <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search"><span></span></button>
                      <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                        <div class="form-wrap">
                          <label class="form-label" for="rd-navbar-search-form-input">Search...</label>
                          <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>
                          <div class="rd-search-results-live" id="rd-search-results-live"></div>
                          <button class="rd-search-form-submit fl-bigmug-line-search74" type="submit"></button>
                        </div>
                      </form>
                    </div> -->
              <!--------------------------------------------- 導航欄位!!!!!!!!!!!!!!!! --------------------------------------------->
              <!-- RD Navbar Nav-->
              <ul class="rd-navbar-nav">
                <li class="rd-nav-item active"><a class="rd-nav-link" href="/SpanTasty/StarCups">首頁</a>
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="/SpanTasty/StarCups/reserve">線上訂位</a>
                  <!-- RD Navbar Dropdown-->
                  <ul class="rd-menu rd-navbar-dropdown">
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-gallery.html">Grid Gallery</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="full-width-gallery.html">Full width
                        Gallery</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="masonry-gallery.html">Masonry
                        Gallery</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="full-width-masonry-gallery.html">Full
                        Width Masonry Gallery</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-project.html">Single
                        Project</a></li>
                  </ul>
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="grid-gallery.html">外帶</a>
                  <!-- RD Navbar Dropdown-->
                  <ul class="rd-menu rd-navbar-dropdown">
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-gallery.html">Grid Gallery</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="full-width-gallery.html">Full width
                        Gallery</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="masonry-gallery.html">Masonry
                        Gallery</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="full-width-masonry-gallery.html">Full
                        Width Masonry Gallery</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-project.html">Single
                        Project</a></li>
                  </ul>
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="/SpanTasty/StarCups/allProduct">商城</a>
                  <!-- RD Navbar Dropdown-->
                  <ul class="rd-menu rd-navbar-dropdown">
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="classic-blog.html">Classic Blog</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-blog.html">Grid Blog</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-blog-2.html">Grid Blog 2</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-blog-3.html">Grid Blog 3</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-post.html">Blog Post</a></li>
                  </ul>
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="shop.html">租借餐具</a>
                  <!-- RD Navbar Dropdown-->
                  <ul class="rd-menu rd-navbar-dropdown">
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="shop.html">Shop</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-product.html">Single
                        Product</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="cart-page.html">Cart Page</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="checkout.html">Checkout</a></li>
                  </ul>
                </li>
                <li class="rd-nav-item">
                  <a class="rd-nav-link" href="#">會員</a>
                  <!-- RD Navbar Dropdown -->
                  <ul class="rd-menu rd-navbar-dropdown">
                    <li class="rd-dropdown-item"><a id="member-center-link" class="rd-dropdown-link" href="#">會員中心</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-product.html">Single
                        Product</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="cart-page.html">Cart Page</a></li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="checkout.html">Checkout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-------------------------------------------- 漢堡 -------------------------------------------->
            <div class="rd-navbar-project-hamburger" data-multitoggle=".rd-navbar-main"
              data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate="data-multitoggle-isolate">
              <div class="project-hamburger"><span class="project-hamburger-arrow-top"></span><span
                  class="project-hamburger-arrow-center"></span><span class="project-hamburger-arrow-bottom"></span>
              </div>
              <div class="project-hamburger-2"><span class="project-hamburger-arrow"></span><span
                  class="project-hamburger-arrow"></span><span class="project-hamburger-arrow"></span>
              </div>
              <div class="project-close"><span></span><span></span></div>
            </div>
          </div>
          <div class="rd-navbar-project rd-navbar-modern-project">
            <div class="rd-navbar-project-modern-header">
              <h4 class="rd-navbar-project-modern-title">Follow us</h4>
              <div class="rd-navbar-project-hamburger" data-multitoggle=".rd-navbar-main"
                data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate="data-multitoggle-isolate">
                <div class="project-close"><span></span><span></span></div>
              </div>
            </div>
            <div class="rd-navbar-project-content rd-navbar-modern-project-content">
              <div>
                <p class="text-spacing-25">Want to get the latest flooring ideas from our team? Follow us on Instagram
                  to keep up with the newest trends and offers from Parquetry.</p>
                <div class="row row-10 gutters-10" data-lightgallery="group">
                  <div class="col-6 col-lg-4">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary"><a class="thumbnail-mary-figure"
                        href="images/gallery-image-14-1200x800-original.jpg" data-lightgallery="item"><img
                          src="images/gallery-image-14-124x124.jpg" alt="" width="124" height="124" /></a>
                      <div class="thumbnail-mary-caption">
                        <div class="icon fl-bigmug-line-zoom60"></div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6 col-lg-4">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary"><a class="thumbnail-mary-figure"
                        href="images/grid-gallery-3-1200x800-original.jpg" data-lightgallery="item"><img
                          src="images/gallery-image-15-124x124.jpg" alt="" width="124" height="124" /></a>
                      <div class="thumbnail-mary-caption">
                        <div class="icon fl-bigmug-line-zoom60"></div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6 col-lg-4">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary"><a class="thumbnail-mary-figure"
                        href="images/grid-gallery-5-1200x800-original.jpg" data-lightgallery="item"><img
                          src="images/gallery-image-16-124x124.jpg" alt="" width="124" height="124" /></a>
                      <div class="thumbnail-mary-caption">
                        <div class="icon fl-bigmug-line-zoom60"></div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6 col-lg-4">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary"><a class="thumbnail-mary-figure"
                        href="images/gallery-image-17-530x800-original.jpg" data-lightgallery="item"><img
                          src="images/gallery-image-17-124x124.jpg" alt="" width="124" height="124" /></a>
                      <div class="thumbnail-mary-caption">
                        <div class="icon fl-bigmug-line-zoom60"></div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6 col-lg-4">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary"><a class="thumbnail-mary-figure"
                        href="images/grid-gallery-2-530x800-original.jpg" data-lightgallery="item"><img
                          src="images/gallery-image-18-124x124.jpg" alt="" width="124" height="124" /></a>
                      <div class="thumbnail-mary-caption">
                        <div class="icon fl-bigmug-line-zoom60"></div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6 col-lg-4">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary"><a class="thumbnail-mary-figure"
                        href="images/grid-gallery-1-570x800-original.jpg" data-lightgallery="item"><img
                          src="images/gallery-image-19-124x124.jpg" alt="" width="124" height="124" /></a>
                      <div class="thumbnail-mary-caption">
                        <div class="icon fl-bigmug-line-zoom60"></div>
                      </div>
                    </article>
                  </div>
                </div>
                <ul class="rd-navbar-modern-contacts">
                  <li>
                    <div class="unit unit-spacing-sm">
                      <div class="unit-left"><span class="novi-icon icon fa fa-phone"></span></div>
                      <div class="unit-body"><a class="link-phone" href="tel:#">+1 323-913-4688</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-sm">
                      <div class="unit-left"><span class="novi-icon icon fa fa-location-arrow"></span></div>
                      <div class="unit-body"><a class="link-location" href="#">4730 Crystal Springs Dr, Los Angeles, CA
                          90027</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-sm">
                      <div class="unit-left"><span class="novi-icon icon fa fa-envelope"></span></div>
                      <div class="unit-body"><a class="link-email" href="mailto:#">mail@demolink.org</a></div>
                    </div>
                  </li>
                </ul>
                <ul class="list-inline rd-navbar-modern-list-social">
                  <li><a class="novi-icon icon fa fa-facebook" href="#"></a></li>
                  <li><a class="novi-icon icon fa fa-twitter" href="#"></a></li>
                  <li><a class="novi-icon icon fa fa-google-plus" href="#"></a></li>
                  <li><a class="novi-icon icon fa fa-instagram" href="#"></a></li>
                  <li><a class="novi-icon icon fa fa-pinterest" href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const memberCenterLink = document.getElementById('member-center-link');
    const authLink = document.getElementById('auth-link');
    const token = localStorage.getItem('token');
    if (token) {
      memberCenterLink.href = '/SpanTasty/StarCups/memberCenter';
      console.log('已登入，Token:', token);
    } else {
      memberCenterLink.href = '/SpanTasty/StarCups/loginRegister';
      console.log('未登入');
    }

    if (token) {
      // 已登入，顯示登出按鈕
      authLink.textContent = 'logout';
      authLink.href = '#';  // 你可以讓 logout 不跳轉
      authLink.addEventListener('click', function () {
        // 清除 token，登出
        localStorage.removeItem('token');
        alert('已登出');
        window.location.href = '/SpanTasty/StarCups';
      });
    } else {
      // 未登入，顯示登入按鈕
      authLink.textContent = 'login';
      authLink.href = '/SpanTasty/StarCups/loginRegister';  // 導向登入頁面
    }
  });
  
  
  
  
</script>