<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
  <style>
    .ie-panel {
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
      clear: both;
      text-align: center;
      position: relative;
      z-index: 1;
    }

    html.ie-10 .ie-panel,
    html.lt-ie-10 .ie-panel {
      display: block;
    }
    
    
  </style>
</head>
<body>
	<div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container"><span></span><span></span><span></span><span></span>
        </div>
      </div>
    </div>
    <div class="page">
    <!-- Include the header fragment -->
    <header class="section page-header" th:replace="~{/starcups/display/header}" ></header>
	<section class="section breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom context-dark">
          <div class="container">
            <h2 class="breadcrumbs-custom-title">LOGIN</h2>
            <ul class="breadcrumbs-custom-path">
              <li><a href="/SpanTasty/StarCups">Home</a></li>
              <li class="active">LOGIN</li>
            </ul>
          </div>
          <div class="box-position novi-bg novi-bg-img" style="background-image: url(images/bg-breadcrumbs.jpg);"></div>
        </div>
      </section>
	<section class="section novi-bg novi-bg-img section-xl bg-default text-start">
    <div class="container">
        <h2>Login</h2>
        <!-- Login Form -->
        <form action="/login" method="post">
            <div class="form-group">
                <label for="email" class="heading-5">Email Address</label>
                <input type="email" id="email" name="email" class="form-control" required placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="password" class="heading-5">Password</label>
                <input type="password" id="password" name="password" class="form-control" required placeholder="Enter your password">
            </div>
            <div class="form-group">
                <button type="submit" class="button button-md button-secondary button-ujarak">Login</button>
            </div>
            <div class="form-group">
                <p><a href="/forgot-password" class="privacy-link">Forgot your password?</a></p>
            </div>
        </form>
    </div>
</section>

     
     </div>
    <!-- Add more content here -->
</body>
</html>
