<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>訂單明細</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        h2 {
            text-align: left;
            font-family: Arial, sans-serif;
            font-weight: 900;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            font-family: Arial, sans-serif;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            font-weight: bold;
            white-space: nowrap;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        tr:hover {
            background-color: #e2e2e2;
        }
        .custom-button {
            background: none;
            border: none;
            cursor: pointer;
            color: #9d80f4;
        }
        .custom-button-delete {
            color: #6140c4;
        }
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div th:replace="~{display/navbar}"></div>
<div class="content" id="content">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-11">
                <div class="card bg-light text-dark shadow">
                    <div class="card-header bg-transparent border-0 d-flex justify-content-between align-items-center">
                        <h2 class="mb-0">訂單明細</h2>
                        <form method="post" th:action="@{/shoppingItem/addItem}" onsubmit="showSuccessMessage(event);">
                            <input type="hidden" name="shoppingId" th:value="${shopping.shoppingId}">
                            <select name="productId" id="productId" required>
                                <option value="">請選擇加購商品</option>
                                <th:block th:each="product : ${productList}">
                                    <option th:value="${product.productId}" th:text="${product.productId} + '. ' + ${product.productName}"></option>
                                </th:block>
                            </select>
                            <input type="number" name="shoppingItemQuantity" id="shoppingItemQuantity" min="1" placeholder="請選擇加購商品數量" required> 
                            <button type="submit" class="custom-button" onclick="showSuccessAlert();">
                                <i class="fa-solid fa-cart-plus fa-xxl" style="color: #223658;"></i>
                            </button>
                        </form>
                    </div>
                    <th:block th:if="${items != null}">
                        <table class="table table-striped table-hover text-center">
                            <thead>
                                <tr style="background-color:#9D9D9D">
                                    <th>訂單編號</th>
                                    <th>產品編號</th>
                                    <th>產品名稱</th>
                                    <th>產品項目數量</th>
                                    <th>產品價格</th>
                                    <th>產品項目金額</th>
                                    <th>修改產品項目數量</th>
                                    <th>刪除項目</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="item : ${items}">
                                    <tr>
                                        <td th:text="${item.id.shoppingId}"></td>
                                        <td th:text="${item.id.productId}"></td>
                                        <td th:text="${item.product.productName}"></td>
                                        <td th:text="${item.shoppingItemQuantity}"></td>
                                        <td th:text="${item.product.productPrice}"></td>
                                        <td th:text="${item.shoppingItemQuantity * item.product.productPrice}"></td>
                                        <td>
                                            <form method="post" th:action="@{/shoppingItem/updateItem}" onsubmit="return confirmUpdate(event);">
                                                <input type="hidden" name="shoppingId" th:value="${item.id.shoppingId}">
                                                <input type="hidden" name="productId" th:value="${item.id.productId}">
                                                <input type="number" name="shoppingItemQuantity" th:value="${item.shoppingItemQuantity}" min="1" placeholder="請輸入加購商品數量" required> 
                                                <button type="submit" class="custom-button">
                                                    <i class="fa-regular fa-pen-to-square fa-xl"></i>
                                                </button>
                                            </form>
                                        </td>
                                        <td>
                                            <form th:action="@{/shoppingItem/delItem}" method="post" onsubmit="return confirmDelete(event);">
                                                <input type="hidden" name="shoppingId" th:value="${item.id.shoppingId}">
                                                <input type="hidden" name="productId" th:value="${item.id.productId}">
                                                <button type="submit" class="custom-button custom-button-delete">
                                                    <i class="fa-solid fa-trash-arrow-up fa-xl"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                        <div style="text-align: right; font-weight: bold;">
                            <h5>訂單總金額: <span th:text="${shopping.shoppingTotal}"></span></h5>
                        </div>
                    </th:block>
                    <th:block th:if="${items == null}">
                        <p>No items found</p>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showSuccessAlert() {
        Swal.fire({
            position: "top-end",
            icon: "success",
            title: "您的產品已成功新增",
            showConfirmButton: false,
            timer: 3000
        });
    }

    function confirmDelete(event) {
        event.preventDefault(); // 防止表單提交
        const form = event.target; // 獲取當前表單
        Swal.fire({
            title: "請確認是否要刪除這筆商品",
            text: "刪除後將無法復原",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "確定",
            cancelButtonText: "取消"
        }).then((result) => {
            if (result.isConfirmed) {
                form.submit(); // 確認後提交表單
            }
        });
    }

    function confirmUpdate(event) {
        event.preventDefault(); // 防止表單提交
        const form = event.target; // 獲取當前表單
        Swal.fire({
            title: "請確認是否要修改產品數量",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "確定",
            cancelButtonText: "取消"
        }).then((result) => {
            if (result.isConfirmed) {
                form.submit(); // 確認後提交表單
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function() {
        showSidebar('store');
    });
</script>
</body>
</html>
