<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="wide wow-animation" lang="en">
<head>
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,500%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/bootstrap.css">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/fonts.css">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
</head>
<body>
    <!-- navbar  th:replace=-->
    <div th:replace="~{starcups/display/navbar}"></div>
    <!-- Breadcrumbs -->
    <section class="section breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom context-dark">
            <div class="container">
                <h2 class="breadcrumbs-custom-title">Shop</h2>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Shop</li>
                </ul>
            </div>
            <div class="box-position novi-bg novi-bg-img" style="background-image: url(images/bg-breadcrumbs.jpg);"></div>
        </div>
    </section>
    <!-- Shop-->
    <section class="section novi-bg novi-bg-img section-xl bg-default">
        <div class="container">
            <div class="row row-90 row-fix justify-content-center">
                <div class="col-lg-8 col-xl-9">
                    <div class="product-top-panel group-lg">
                        <div class="product-top-panel-title">Showing 1–12 of <span th:text="${totalProducts}"></span> results</div>
                        <div class="product-top-panel-select">
                            <select class="form-input select-filter" data-minimum-results-for-search="Infinity" data-constraints="@Required">
                                <option value="1">Sort by new</option>
                                <option value="2">Sort by popular</option>
                                <option value="3">Sort by rating</option>
                            </select>
                        </div>
                    </div>
                    <div class="row row-lg row-40">
                        <div class="col-sm-6 col-md-4" th:each="product : ${products}">
                            <!-- Product-->
                            <article class="product">
                                <div class="product-figure">
                                    <img th:src="${product.productPicture}" alt="" width="270" height="280"/>
                                    <div class="product-button">
                                        <a class="button button-md button-white button-ujarak" th:href="@{/cart-page.html}">Add to cart</a>
                                    </div>
                                </div>
                                <h5 class="product-title">
                                    <a th:href="@{/shop/single-product(id=${product.productId})}" th:text="${product.productName}"></a>
                                </h5>
                                <div class="product-price-wrap">
                                    <div th:text="'$' + ${product.productPrice}"></div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="pagination-wrap">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                    <a class="page-link" th:href="@{/StarCups/allProduct(page=${currentPage - 1})}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, totalPages)}" th:classappend="${pageNum == currentPage} ? 'active'">
                                    <a class="page-link" th:href="@{/StarCups/allProduct(page=${pageNum})}" th:text="${pageNum}"></a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                                    <a class="page-link" th:href="@{/StarCups/allProduct(page=${currentPage + 1})}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-sm-10 col-md-12 col-lg-4 col-xl-3">
                    <!-- RD Search Form-->
                    <form class="form-search rd-search form-product-search" action="search-results.html" method="GET">
                        <div class="form-wrap">
                            <label class="form-label" for="search-form">Product Search..</label>
                            <input class="form-input" id="search-form" type="text" name="s" autocomplete="off">
                            <button class="button-search fl-bigmug-line-search74" type="submit"></button>
                        </div>
                    </form>
                    <div class="row row-lg row-50 product-sidebar">
                        <div class="col-md-6 col-lg-12">
                            <h5>Popular categories</h5>
                            <ul class="list list-shop-filter">
                                <li>
                                    <label class="checkbox-inline">
                                        <input name="input-group-radio" value="checkbox-1" type="checkbox">Marble
                                    </label><span class="list-shop-filter-number">2</span>
                                </li>
                                <li>
                                    <label class="checkbox-inline">
                                        <input name="input-group-radio" value="checkbox-2" type="checkbox">Hardwood
                                    </label><span class="list-shop-filter-number">1</span>
                                </li>
                                <li>
                                    <label class="checkbox-inline">
                                        <input name="input-group-radio" value="checkbox-3" type="checkbox">Limestone
                                    </label><span class="list-shop-filter-number">3</span>
                                </li>
                                <li>
                                    <label class="checkbox-inline">
                                        <input name="input-group-radio" value="checkbox-4" type="checkbox">Vinyl
                                    </label><span class="list-shop-filter-number">1</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <h5>Filter by price</h5>
                            <div class="rd-range" data-min="0" data-max="999" data-min-diff="100" data-start="[66, 290]" data-step="1" data-tooltip="false" data-input=".rd-range-input-value-1" data-input-2=".rd-range-input-value-2"></div>
                            <div class="group-sm group-justify shop-price">
                                <div>
                                    <div class="button button-md button-primary button-pipaluk">Filter</div>
                                </div>
                                <div>
                                    <div class="rd-range-wrap">
                                        <div class="rd-range-title">Price:</div>
                                        <div class="rd-range-form-wrap">
                                            <input class="rd-range-input rd-range-input-value-1" id="test" type="text" name="value-1"><span>$</span>
                                        </div>
                                        <div class="rd-range-divider"></div>
                                        <div class="rd-range-form-wrap">
                                            <input class="rd-range-input rd-range-input-value-2" type="text" name="value-2"><span>$</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <h5>Popular products</h5>
                            <div class="list-popular-product">
                                <div class="list-popular-product-item">
                                    <article class="product-minimal unit unit-spacing-md">
                                        <div class="unit-left"><a class="product-minimal-figure" href="single-product.html"><img src="images/product-mini-1-108x100.png" alt="" width="108" height="100"/></a></div>
                                        <div class="unit-body">
                                            <h6 class="product-minimal-title"><a href="single-product.html">Burdur pearl</a></h6>
                                            <div class="product-minimal-price">$235.00</div>
                                        </div>
                                    </article>
                                </div>
                                <div class="list-popular-product-item">
                                    <article class="product-minimal unit unit-spacing-md">
                                        <div class="unit-left"><a class="product-minimal-figure" href="single-product.html"><img src="images/product-mini-2-108x100.png" alt="" width="108" height="100"/></a></div>
                                        <div class="unit-body">
                                            <h6 class="product-minimal-title"><a href="single-product.html">Old World Acacia</a></h6>
                                            <div class="product-minimal-price">$290.00</div>
                                        </div>
                                    </article>
                                </div>
                                <div class="list-popular-product-item">
                                    <article class="product-minimal unit unit-spacing-md">
                                        <div class="unit-left"><a class="product-minimal-figure" href="single-product.html"><img src="images/product-mini-3-108x100.png" alt="" width="108" height="100"/></a></div>
                                        <div class="unit-body">
                                            <h6 class="product-minimal-title"><a href="single-product.html">Bastille Gray</a></h6>
                                            <div class="product-minimal-price">$200.00</div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- footer  th:replace=-->
    <div th:replace="~{starcups/display/footer}"></div>
    
    <!-- Javascript-->
    <script src="/SpanTasty/starcups/js/core.min.js"></script>
    <script src="/SpanTasty/starcups/js/script.js"></script>
</body>
</html>
