<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="wide wow-animation" lang="en">
<head>
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,500%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/bootstrap.css">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/fonts.css">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/style.css">
    <style>
        .ie-panel { display: none; background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index: 1; }
        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel { display: block; }

        .cart-icon {
            position: fixed; 
            top: 100px; 
            right: 50px; 
            z-index: 1000; 
            font-size: 2rem; 
            cursor: pointer; 
            color: 	#AD5A5A; 
        }

        .point{
          letter-spacing: .1em;
          color: #9b9b9b;
        }

        .pointText{
          font-size: 20px;
        }
        
        .box-sportlight-badge {
          top: 0 !important;
          font-size: 15px !important;
        }
        
        .addBtn{
          width: 60px;
          height: 36px;
          border: 0;
          background-color: #efc4a3;
          border-radius: 3px;
        }
        .cantUse {
          filter: opacity(50%) grayscale(100%);
        }
    </style>
</head>
<body>
    <!-- navbar th:replace=-->
    <div th:replace="~{starcups/display/navbar}"></div>
    
     <!-- Breadcrumbs -->
      <section class="section breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom context-dark">
          <div class="container">
            <h2 class="breadcrumbs-custom-title">Checkout</h2>
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li><a href="shop.html">Shop</a></li>
              <li class="active">Checkout</li>
            </ul>
          </div>
          <div class="box-position novi-bg novi-bg-img" style="background-image: url(images/bg-breadcrumbs.jpg);"></div>
        </div>
      </section>

      <!-- Shopping Cart-->
      <section class="section novi-bg novi-bg-img section-xl bg-default text-md-start">
        <div class="container">
          <h4 class="text-spacing-50">Your shopping cart</h4>
          <!-- shopping-cart-->
          <div class="table-custom-responsive">
            <table class="table-custom table-cart">
              <thead>
                <tr>
                  <th>Product name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
				<tr th:each="item : ${items}">
				    <td>
				        <a class="table-cart-figure" th:href="@{/shop/single-product(id=${item.product.productId})}">
				            <img th:src="${item.product.productPicture}" alt="" width="146" height="132"/>
				        </a>
				        <a class="table-cart-link" th:href="@{/shop/single-product(id=${item.product.productId})}" th:text="${item.product.productName}"></a>
				    </td>
				    <td th:text="'$' + ${item.product.productPrice}"></td>
				    <td>
				        <div class="table-cart-stepper">
				             <span th:text="${item.shoppingItemQuantity}"></span>
				        </div>
				    </td>
				    <td th:text="'$' + ${item.product.productPrice * item.shoppingItemQuantity}"></td>
				</tr>
              </tbody>
            </table>
          </div>
          
          <!-- discount -->
          <div class="table-custom-responsive border p-3">
            <!-- coupon -->
            <div class="row">
              <span class="point" style="font-size: 16px;">優惠券</span>
              <div class="col">
                <div class="form-wrap">
                  <input class="form-input form-input-inverse" id="coupon-code" type="text" name="email" disabled>
                  <label class="form-label" for="coupon-code" id="coupon-code-label">Coupon code</label>
                </div>
              </div>
              <div class="col">
                <div class="form-button">
                  <button class="button button-secondary button-pipaluk" type="submit" id="selectCoupon">新增優惠券</button>
                </div>
              </div>
              <div class="col"></div>
            </div>
            <!-- point -->
            <div class="row mt-3">
              <div class="col">
                <span class="point" style="font-size: 16px;" id="pointItem">點數折抵</span>
                <div class="form-wrap text-align-center" id="pointItem">
                  <input class="form-input form-input-inverse pointText" id="pointInput" type="text" name="email" th:max="${pointMemberTotalPoint!=null? pointMemberTotalPoint : 0}" min="0"style="font-size: 20px;">
                  <label class="form-label" for="pointInput">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Point</label>
                </div>
              </div>
              <div class="col d-flex align-items-end">
                <ul class="point" id="">
                  <li class="active" style="font-size: 16px;" th:text="'可用點數 : '+${pointMemberTotalPoint!=null? pointMemberTotalPoint : 0}+'點(1點折抵1元)'"><!-- 可用點數 : 910點(1點折抵1元) --></li>
                  <li class="active" style="font-size: 16px;" th:text="'您有 '+${pointMember.expiringPoints}+' 點將於 '+${pointMember.expiryDate != null? pointMember.expiryDate : '-'}+' 到期'"><!-- 您有 45點將於 2024/13/31到期 --></li>
                </ul>  
              </div>
              <div class="col"></div>
            </div>       
          </div>

        </div>
      </section>
      <!-- Section payment-->
      <section class="section novi-bg novi-bg-img section-xl bg-default text-md-start">
        <div class="container" th:each="member : ${members}">
          <div class="row row-50 justify-content-center">
          <div class="col-md-10 col-lg-6">
              <h4 class="text-spacing-50">Delivery Address</h4>
              <form class="rd-form rd-mailform">
                <div class="row row-14 row-fix gutters-14">
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-first-name-2" type="text" th:value="${member.memberName}"  name="name" data-constraints="@Required"/>
                      <!-- <input class="form-input" id="checkout-first-name-2" type="text" th:value="${member.memberName}"  name="name" data-constraints="@Required"/> -->
                      <label class="form-label" for="checkout-first-name-2">Name</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-last-name-2" type="text"  th:value="${member.phone}"  name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-last-name-2">Phone</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-company-2" type="text"  th:value="${member.address}"  name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-company-2">Address</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-address-2" type="text" th:value="${member.email}"  name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-address-2">E-Mail</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                  </div>
                </div>
              </form>
            </div>
          <div class="col-md-10 col-lg-6">
              <h4 class="text-spacing-50">Cart totals</h4>
              <div class="table-custom-responsive">
                <table class="table-custom table-custom-primary table-checkout">
                 
                  <tbody>
                    <tr>
                      <td>Cart Subtotal</td>
                      <td th:text="'$' + ${totalAmount}" th:data-price="${totalAmount}">-</td>
                    </tr>
                    <tr>
                      <td>Coupon Discount</td>
                      <td id="couponDiscountTd" data-discount="">-</td>
                    </tr>
                    <tr>
                      <td>Point Discount</td>
                      <td id="pointDiscountTd" data-discount="">-</td>
                    </tr>
                    <tr> 
                      <td><h5>Total</h5></td>
                      <td><h5 th:text="'$' + ${totalAmount}" id="total"></h5></td>
                    </tr>
                  </tbody>
                </table>
                <!-- <div class="d-flex justify-content-end point mt-1 me-1" style="font-size: 17px;">
                  <span >訂單完成後獲得   +14 點</span>
                </div> -->
              </div>
            	<br>
              <h4 class="text-spacing-50">Payment methods</h4>
              <div class="box-radio">
                <div class="radio-panel">
                  <label class="radio-inline active">
                    <input name="input-group-radio" value="checkbox-1" type="radio" checked>Direct Bank Transfer
                  </label>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="button-wrap text-center">
          	<form th:action= "@{/StarCups/ecpayCheckout(shoppingId=${session['shoppingId']})}" method="post" id="checkoutForm">
          		<button type="submit" class="button button-secondary button-pipaluk" id="checkoutBtn">Proceed to checkout</button>
          	</form>
       	 </div>
      </section>
      
            <!-- Section checkout form-->
      <section class="section novi-bg novi-bg-img section-xl bg-default text-md-start">
        <div class="container">
          <div class="row row-50 justify-content-center">
          </div>
        </div>
      </section>
      <div id="ppoo"></div>

      <!-- Modal click select coupon jump out by hao-->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">選擇優惠券</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row ms-1 me-1 " style="background-color: #F7F7F7;height: 70px;">
                  <div class="col-3 d-flex justify-content-end align-items-center">新增優惠券</div>       
                  <div class="col-6 d-flex align-items-center"><input type="text" class="form-control" ></div>       
                  <div class="col-3 d-flex align-items-center"><button class="addBtn" >使用</button></div>       
                </div>
                  <!--  -->
                <div id="couponDiv" class="mt-2">
                  <!-- <div class="row">
                    <div class="col d-flex mb-3">
                      <div class="d-flex" style="background-color: rgb(232, 208, 192);"><img src="/SpanTasty/starcups/images/coupon/couponhead.png" width="87" height="87" alt=""></div>
                      <div class="border w-100 d-flex justify-content-between">
                        <div class="ms-1 mt-1">                                                        
                          <ul class="">
                            <li><span>歡慶三周年</span><span></span></li>
                            <li><span>低消 </span><span>$100</span></li>
                            <li><span>最多折抵 </span><span>$10</span></li>
                            <li><span>有效日期: </span><span>2024/12/31</span><a href="#" class="ms-2 rule" data-couponid=${coupon.coupon.couponId}>使用規則</a></li>
                          </ul>
                        </div>
                        <div class="d-flex align-items-center me-3">
                          <input type="radio"  name="selectCoupon">  
                        </div>                                                       
                        <div class="box-sportlight-badge box-sportlight-sale mb-3">x 3</div>      
                      </div>
                    </div> -->
                  </div>                  
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" id="useCoupon" data-bs-dismiss="modal">使用</button>
            </div>
          </div>
        </div>
      </div>
      
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    
    <!-- footer th:replace=-->
    <div th:replace="~{starcups/display/footer}"></div>
    
    <!-- Cart Icon 
    <i class="fa-solid fa-cart-plus cart-icon"></i>-->

    <!-- Javascript-->
     <script>
      axios.post(`http://localhost:8080/SpanTasty//StarCups/ecpayCheckout`)
      .then(res => {
        console.log(res)
        // document.querySelector("#ppoo").innerHTML += res
        // document.querySelector("#ppoo form").submit()
      })
      .catch(err => {
        console.error(err); 
      })
     </script>
     <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="/SpanTasty/starcups/js/core.min.js"></script>
    <script src="/SpanTasty/starcups/js/script.js"></script>

    <script th:inline="javascript">//edit by hao
      const shopoingItems = [[${items}]]
      const memberId = [[${members.memberId}]]
      const totalAmount = [[${totalAmount}]]
      const maxPointUse = [[${pointMemberTotalPoint!=null? pointMemberTotalPoint : 0}]]
      const shoppingId = [[${items[0].id.shoppingId}]]
      let conponCode;
      let discountAmount;

      //選擇優惠券代碼
      document.getElementById('selectCoupon').addEventListener('click',()=>{
        var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
        myModal.show();

        axios.post('http://localhost:8080/SpanTasty/StarCups/coupon/checkout',{
                    shoppingItems: shopoingItems,
                    totalAmount: totalAmount,
                    memberId: memberId
                })
                .then(res=>{
                    console.log(res.data);
                    HtmlMaker(res.data)
                    let coupons = res.data
                })


      })

      function HtmlMaker(data){
        const couponDiv =document.getElementById('couponDiv')
        couponDiv.innerHTML=''
        data.forEach(coupon => {
          couponDiv.innerHTML +=`
            <div class="row mt-1 ${coupon.canUse? '':'cantUse'}">
              <div class="col d-flex mb-3">
                <div class="d-flex" style="background-color: rgb(232, 208, 192);"><img src="/SpanTasty/starcups/images/coupon/couponhead.png" width="87" height="87" alt=""></div>
                <div class="border w-100 d-flex justify-content-between">
                  <div class="ms-1 mt-1">                                                        
                    <ul class="">
                      <li><span>${coupon.coupon.rulesDescription}</span><span></span></li>
                      <li><span>低消: </span><span>$${coupon.coupon.minOrderDiscount?coupon.coupon.minOrderDiscount:'-'}</span></li>
                      <li><span>最多折抵: </span><span>$${coupon.coupon.maxDiscount?coupon.coupon.maxDiscount:'-'}</span></li>
                      <li><span>有效日期: </span><span>${coupon.coupon.couponEndDate}</span><a href="#" class="ms-2 rule" data-couponid=${coupon.coupon.couponId}>使用規則</a></li>
                    </ul>
                  </div>
                  <div class="d-flex align-items-center me-3">
                    <input type="radio"  name="radioCoupon" ${coupon.canUse? '':'disabled'}  data-couponcode="${coupon.coupon.couponCode}">  
                  </div>                                                       
                  
                </div>
              </div>
            </div>`  
        });
      }

      //使用優惠券
      document.getElementById('useCoupon').addEventListener('click',()=>{
        let couponCode = document.querySelector('input[name="radioCoupon"]:checked').dataset.couponcode
        document.getElementById('coupon-code').value=couponCode
        document.getElementById('coupon-code-label').textContent=''

        axios.get("/SpanTasty/StarCups/coupon/discount",{
          params: {
            totalAmount:totalAmount,
            couponCode:couponCode
          }
        })
        .then(res=>{
          console.log(res.data);
          couponDiscountHmtlMaker(res.data)
          changeTotal()
        }

        )
      })

      function couponDiscountHmtlMaker(data){
        document.getElementById('couponDiscountTd').textContent=`-${data}`
        document.getElementById('couponDiscountTd').dataset.discount=data
      }
      

      //變更點數
      document.getElementById('pointInput').addEventListener('change',(e)=>{
        
        if(Number(e.target.value)>maxPointUse){
          alert('超過點數上限')
          e.target.value=''
          document.getElementById('pointDiscountTd').textContent=`-${e.target.value}`
          changeTotal()
          return
        }
        document.getElementById('pointDiscountTd').textContent=`-${e.target.value}`
        document.getElementById('pointDiscountTd').dataset.discount=e.target.value
        changeTotal()

      })

      //計算最終金額
      function changeTotal(){
        const couponDiscount = document.getElementById('couponDiscountTd').dataset.discount
        const pointDiscount = document.getElementById('pointDiscountTd').dataset.discount

        document.getElementById('total').textContent=`$${totalAmount-couponDiscount-pointDiscount}`
      }


      //送出
      document.getElementById('checkoutForm').addEventListener('submit',(e)=>{
        e.preventDefault()
        const couponDiscount = document.getElementById('couponDiscountTd').dataset.discount
        const pointDiscount = document.getElementById('pointDiscountTd').dataset.discount
        console.log('touch');
        
        axios.post('/SpanTasty/StarCups/coupon/allDiscount',{
            couponDiscount:Number(couponDiscount),
            pointDiscount:Number(pointDiscount),
            shoppingId:shoppingId
        })
        .then(res=>{
          e.target.submit();
        })
        .catch(err=>{         
          alert("請稍後再試")
        })
      })
    </script>
</body>
</html>
