<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="wide wow-animation" lang="en">
<head>
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,500%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/bootstrap.css">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/fonts.css">
    <link rel="stylesheet" href="/SpanTasty/starcups/css/style.css">
    <style>
        .ie-panel { display: none; background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index: 1; }
        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel { display: block; }

        .cart-icon {
            position: fixed; 
            top: 100px; 
            right: 50px; 
            z-index: 1000; 
            font-size: 2rem; 
            cursor: pointer; 
            color: 	#AD5A5A; 
        }
    </style>
</head>
<body>
    <!-- navbar th:replace=-->
    <div th:replace="~{starcups/display/navbar}"></div>
    
     <!-- Breadcrumbs -->
      <section class="section breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom context-dark">
          <div class="container">
            <h2 class="breadcrumbs-custom-title">Checkout</h2>
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li><a href="shop.html">Shop</a></li>
              <li class="active">Checkout</li>
            </ul>
          </div>
          <div class="box-position novi-bg novi-bg-img" style="background-image: url(images/bg-breadcrumbs.jpg);"></div>
        </div>
      </section>

      <!-- Shopping Cart-->
      <section class="section novi-bg novi-bg-img section-xl bg-default text-md-start">
        <div class="container">
          <h4 class="text-spacing-50">Your shopping cart</h4>
          <!-- shopping-cart-->
          <div class="table-custom-responsive">
            <table class="table-custom table-cart">
              <thead>
                <tr>
                  <th>Product name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
				<tr th:each="item : ${items}">
				    <td>
				        <a class="table-cart-figure" th:href="@{/shop/single-product(id=${item.product.productId})}">
				            <img th:src="${item.product.productPicture}" alt="" width="146" height="132"/>
				        </a>
				        <a class="table-cart-link" th:href="@{/shop/single-product(id=${item.product.productId})}" th:text="${item.product.productName}"></a>
				    </td>
				    <td th:text="'$' + ${item.product.productPrice}"></td>
				    <td>
				        <div class="table-cart-stepper">
				             <span th:text="${item.shoppingItemQuantity}"></span>
				        </div>
				    </td>
				    <td th:text="'$' + ${item.product.productPrice * item.shoppingItemQuantity}"></td>
				</tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <!-- Section payment-->
      <section class="section novi-bg novi-bg-img section-xl bg-default text-md-start">
        <div class="container" th:each="member : ${members}">
          <div class="row row-50 justify-content-center">
          <div class="col-md-10 col-lg-6">
              <h4 class="text-spacing-50">Delivery Address</h4>
              <form class="rd-form rd-mailform">
                <div class="row row-14 row-fix gutters-14">
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-first-name-2" type="text" th:value="${member.memberName}"  name="name" data-constraints="@Required"/>
                      <!-- <input class="form-input" id="checkout-first-name-2" type="text" th:value="${member.memberName}"  name="name" data-constraints="@Required"/> -->
                      <label class="form-label" for="checkout-first-name-2">Name</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-last-name-2" type="text"  th:value="${member.phone}"  name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-last-name-2">Phone</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-company-2" type="text"  th:value="${member.address}"  name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-company-2">Address</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-address-2" type="text" th:value="${member.email}"  name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-address-2">E-Mail</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                  </div>
                </div>
              </form>
            </div>
          <div class="col-md-10 col-lg-6">
              <h4 class="text-spacing-50">Cart totals</h4>
              <div class="table-custom-responsive">
                <table class="table-custom table-custom-primary table-checkout">
                 
                  <tbody>
                    <!-- <tr>
                      <td>Cart Subtotal</td>
                      <td>$524</td>
                    </tr>
                    <tr>
                      <td>Shipping</td>
                      <td>Free</td>
                    </tr>-->
                    <tr> 
                      <td><h5>Total</h5></td>
                      <td><h5 th:text="'$' + ${totalAmount}"></h5></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            	<br>
              <h4 class="text-spacing-50">Payment methods</h4>
              <div class="box-radio">
                <div class="radio-panel">
                  <label class="radio-inline active">
                    <input name="input-group-radio" value="checkbox-1" type="radio" checked>Direct Bank Transfer
                  </label>
                  <div class="radio-panel-content">
                    <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>
                  </div>
                </div>
                <div class="radio-panel">
                  <label class="radio-inline">
                    <input name="input-group-radio" value="checkbox-1" type="radio">PayPal
                  </label>
                  <div class="radio-panel-content">
                    <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                  </div>
                </div>
                <div class="radio-panel">
                  <label class="radio-inline">
                    <input name="input-group-radio" value="checkbox-1" type="radio">Cheque Payment
                  </label>
                  <div class="radio-panel-content">
                    <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="button-wrap text-center">
          	<form th:action= "@{/StarCups/ecpayCheckout(shoppingId=${session['shoppingId']})}" method="post">
          		<button type="submit" class="button button-secondary button-pipaluk">Proceed to checkout</button>
          	</form>
       	 </div>
      </section>
      
            <!-- Section checkout form-->
      <section class="section novi-bg novi-bg-img section-xl bg-default text-md-start">
        <div class="container">
          <div class="row row-50 justify-content-center">
          </div>
        </div>
      </section>
      <div id="ppoo"></div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    
    <!-- footer th:replace=-->
    <div th:replace="~{starcups/display/footer}"></div>
    
    <!-- Cart Icon 
    <i class="fa-solid fa-cart-plus cart-icon"></i>-->

    <!-- Javascript-->
     <script>
      axios.post(`http://localhost:8080/SpanTasty//StarCups/ecpayCheckout`)
      .then(res => {
        console.log(res)
        // document.querySelector("#ppoo").innerHTML += res
        // document.querySelector("#ppoo form").submit()
      })
      .catch(err => {
        console.error(err); 
      })
     </script>
     <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="/SpanTasty/starcups/js/core.min.js"></script>
    <script src="/SpanTasty/starcups/js/script.js"></script>
</body>
</html>
