<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Cups 週年慶優惠</title>
</head>
<body style="margin: 0; padding: 0; background-color: #f0f0f0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px; margin: 0 auto; background-color: #E6C7B3;">
        <tr>
            <td align="center" style="padding: 20px;">
                <img src="cid:logo" alt="Star Cups Logo" style="width: 300px; max-width: 100%; height: auto;">
                
                <div style="width: 100%; max-width: 300px; padding: 15px; text-align: center; color: rgb(135, 70, 23);">
                    <h2>歡慶週年慶，Star Cups 說喝就喝。記得先領優惠，有喝有省！</h2>
                </div>
                
                <div style="width: 100%; max-width: 300px; background-color: white; border-radius: 15px; padding: 15px; margin-bottom: 15px;">
                    <p>親愛的，${userName}</p>
                    <p>周年慶專屬優惠! 咖啡品項不限金額九折，趕緊手刀搶購</p>
                    <a href="http://localhost:8080/SpanTasty/StarCups" style="display: inline-block; padding: 10px 20px; background-color: #87461A; color: white; text-decoration: none; border-radius: 5px;">SHOP NOW ></a>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>