<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>編輯優惠券</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
	<div th:replace="~{spantasty//display/navbar}"></div>
	<div class="content">
		<div class="container">
			<form action="#" th:method="PUT"><!-- action透過JS修改 -->
				<div class="h1 mb-3">查看/編輯優惠券</div>
				<div class="accordion " id="accordionPanelsStayOpenExample">
					<!-- 1 -->
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button bg-light" type="button" data-bs-toggle="collapse"
								data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
								aria-controls="panelsStayOpen-collapseOne">
								基本設定
							</button>
						</h2>
						<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
							<!-- body1 -->
							<div class="accordion-body">
								<!--  -->
								<div class="row mb-3 me-auto">
									<div class="col-3 align-items-center">
										優惠券編號
									</div>
									<div class="col-9">
										<input class="form-control" type="text" id="couponId" name="couponId" placeholder=""
											aria-label="default input example" disabled>
									</div>
								</div>
								<!--  -->
								<div class="row mb-3 me-auto">
									<div class="col-3 align-items-center">
										優惠券代碼
									</div>
									<div class="col-9">
										<input class="form-control" id="couponCode" name="couponCode" type="text" placeholder=""
											aria-label="default input example">
									</div>
								</div>
								<!--  -->
								<div class="row mb-3 me-auto">
									<div class="col-3">
										優惠券名稱
									</div>
									<div class="col-9">
										<input class="form-control" id="couponDescription" name="couponDescription" type="text" placeholder=""
											aria-label="default input example">
									</div>
								</div>
								<!--  -->
								<div class="row mb-3 me-auto">
									<div class="col-3">
										使用開始日期
									</div>
									<div class="col-9">
										<input class="form-control" id="couponStartDate" name="couponStartDate" type="date" placeholder=""
											aria-label="default input example">
									</div>
								</div>
								<!--  -->
								<div class="row mb-3 me-auto">
									<div class="col-3">
										使用結束日期
									</div>
									<div class="col-9">
										<input class="form-control" id="couponEndDate" name="couponEndDate" type="date" placeholder=""
											aria-label="default input example">
									</div>
								</div>
								<!--  -->
								<div class="row mb-3 me-auto">
									<div class="col-3">
										狀態
									</div>
									<div class="col-9">
										<select class="form-select" id="couponStatus" name="couponStatus"
											aria-label="Default select example">
											<option value="上架">上架</option>
											<option value="下架">下架</option>
										</select>
									</div>
								</div>
								<!--  -->
								<div class="row mb-3 me-auto">
									<div class="col-3">
										折扣種類
									</div>
									<div class="col-9">
										<select class="form-select" id="discountType" name="discountType"
											aria-label="Default select example">
											<option class="discountTypeOption" value="固定金額">固定金額</option>
											<option class="discountTypeOption" value="百分比">百分比</option>
										</select>
									</div>
								</div>
								<!--  -->
								<div class="row mb-3 me-auto">
									<div class="col-3">
										<div data-bs-toggle="tooltip" data-bs-placement="left"
											data-bs-title="百分比8折請填80">
											折扣金額<i class="fa-regular fa-circle-question ms-2"></i>
										</div>
									</div>
									<div class="col-9">
										<input class="form-control" id="discount" name="discount" type="text" placeholder=""
											aria-label="default input example">
									</div>
								</div>
								<!--  -->
								<div class="row mb-3 me-auto">
									<div class="col-3">
										優惠描述
									</div>
									<div class="col-9">
										<input class="form-control" id="rulesDescription" name="rulesDescription" type="text" placeholder=""
											aria-label="default input example">
									</div>
								</div>

							</div>
						</div>
					</div>
					<!--  -->
					<div class="accordion-item">
						<h2 class="accordion-header ">
							<button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
								data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
								aria-controls="panelsStayOpen-collapseTwo">
								進階設定
							</button>
						</h2>
						<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
							<!--  -->
							<div class="accordion-body">
								<!--  -->
								<div class="row mb-3 me-auto">
									<div class="col-3">
										優惠券數量
									</div>
									<div class="col-9">
										<input class="form-control" id="maxCoupon" name="maxCoupon" type="text" placeholder=""
											aria-label="default input example">
									</div>
								</div>
								<!--  -->
								<div class="row mb-3 me-auto">
									<div class="col-3">
										每人限領數量
									</div>
									<div class="col-9">
										<input class="form-control" id="perMaxCoupon" name="perMaxCoupon" type="text" placeholder=""
											aria-label="default input example">
									</div>
								</div>
								<!--  -->
								<div class="row mb-3 me-auto">
									<div class="col-3">
										<div data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="消費滿額才能使用">
											最低消費金額<i class="fa-regular fa-circle-question ms-2"></i>
										</div>
									</div>
									<div class="col-9">
										<input class="form-control" id="minOrderDiscount" name="minOrderDiscount" type="text" placeholder=""
											aria-label="default input example">
									</div>
								</div>
								<!--  -->
								<div class="row mb-3 me-auto">
									<div class="col-3">
										<div data-bs-toggle="tooltip" data-bs-placement="left"
											data-bs-title="單筆消費最大折扣金額">
											最大折扣金額<i class="fa-regular fa-circle-question ms-2"></i>
										</div>
									</div>
									<div class="col-9">
										<input class="form-control" id="maxDiscount" name="maxDiscount" type="text" placeholder=""
											aria-label="default input example">
									</div>
								</div>
								<!--  -->
								<div class="row">
									<div class="col">綁定標籤 :</div>
								</div>
								<!--  -->
								<div class="row mb-3 me-auto">
									<div class="col-3 d-flex justify-content-end"><label>( 商城 )</label></div>
									<div class="col" id="productTags" namd="product">
										<!-- <div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
											<label class="form-check-label" for="inlineCheckbox1">1</label>
										</div>-->
									</div>
								</div>
								<!--  -->
								<div class="row mb-3 me-auto">
									<div class="col-3 d-flex justify-content-end"><label>( 訂餐 )</label></div>
									<div class="col" id="togoTags" name="togo">
										<!-- <div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
											<label class="form-check-label" for="inlineCheckbox1">1</label>
										</div> -->
									</div>
								</div>
								<!--  -->
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<div class="card-footer d-flex justify-content-end">
							<div class="m-3">
								<button id="backBtn" type="button" class="btn btn-secondary me-2">返回</button>
								<button type="submit" class="btn btn-primary me-2">修改</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<script>
				document.addEventListener("DOMContentLoaded", function () {
					//載入tagoption
					axios.get('/SpanTasty/coupon/api/preadd')
						.then(res => {

							res.data.product.forEach(element => {
								document.getElementById('productTags').innerHTML += `
									<div class="form-check form-check-inline">									
										<input class="form-check-input" type="checkbox" id="${element}_product" value="${element}" name="product">
										<label class="form-check-label" for="${element}_product">${element}</label>
									</div>`
							});
							res.data.togo.forEach(element => {
								document.getElementById('togoTags').innerHTML += `
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="${element}_togo" value="${element}" name="togo">
										<label class="form-check-label" for="${element}_togo">${element}</label>
									</div>`
							});
						})
						.catch(err => {
							console.log("err: " + err)
						})

					//載入bootstrap
					const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
					const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

					//navbar
					showSidebar('points');
					
					//修改action,載入優惠券資料
					const pathSegments = window.location.pathname.split('/');
					const couponId = pathSegments[pathSegments.indexOf('coupon') + 1];
					document.querySelector('form').action = `/SpanTasty/coupon/${couponId}/post`;
					fetch(`/SpanTasty/coupon/${couponId}/show`, {
						method: 'POST',
						headers: {
							'Content-Type': 'text/plain'
						},
						body: couponId
					})
					.then(response => response.json())
					.then(data => {
						console.log(data);
						document.getElementById('couponId').value=data.coupon.couponId
						document.getElementById('couponCode').value=data.coupon.couponCode
						document.getElementById('couponDescription').value=data.coupon.couponDescription
						document.getElementById('couponStartDate').value=data.coupon.couponStartDate
						document.getElementById('couponEndDate').value=data.coupon.couponEndDate
						document.getElementById('couponStatus').value=data.coupon.couponStatus
						document.getElementById('discount').value=data.coupon.discount
						document.getElementById('rulesDescription').value=data.coupon.rulesDescription
						document.getElementById('maxCoupon').value=data.coupon.maxCoupon
						document.getElementById('perMaxCoupon').value=data.coupon.perMaxCoupon
						document.getElementById('minOrderDiscount').value=data.coupon.minOrderDiscount
						document.getElementById('maxDiscount').value=data.coupon.maxDiscount
						document.querySelectorAll('[name=product]').forEach(option=>{
							const isCheck = data.coupon.tags.some(t=>t.tagName==option.value && t.tagType=='product' )
							option.checked=isCheck
						})
						document.querySelectorAll('[name=togo]').forEach(option=>{
							const isCheck = data.coupon.tags.some(t=>t.tagName==option.value && t.tagType=='togo' )
							option.checked=isCheck
						})
						document.querySelectorAll('.discountTypeOption').forEach(option=>{
							if (option.value==data.coupon.discountType) {
						        option.selected = true;
						    }
						})
						
					})
					.catch(error => {
						console.error('Error:', error);
					});

				})


			</script>
			<script>
				document.getElementById('backBtn').addEventListener('click', () => {
					window.location.href = '/SpanTasty/coupon'
				})
			</script>
</body>

</html>