<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="wide wow-animation" lang="en">

<head>
  <title>Order Online</title>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <!-- Stylesheets-->
  <!-- 更改樣式 -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Poppins:400,500%7CTeko:300,400,500%7CMaven+Pro:500">
  <link rel="stylesheet" href="/SpanTasty/starcups/css/bootstrap.css">
  <link rel="stylesheet" href="/SpanTasty/starcups/css/fonts.css">
  <link rel="stylesheet" href="/SpanTasty/starcups/css/style.css">
  <style>
    .ie-panel {
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
      clear: both;
      text-align: center;
      position: relative;
      z-index: 1;
    }

    html.ie-10 .ie-panel,
    html.lt-ie-10 .ie-panel {
      display: block;
    }

    #cartContainer {
      display: none;
    }

    #cartContainer.active {
      display: block;
    }
  </style>
</head>

<body>
  <!-- navbar  th:replace=-->
  <div th:replace="~{starcups/display/navbar}"></div>
  <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img
        src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
        alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
  </div>
  <div class="preloader">
    <div class="preloader-body">
      <div class="cssload-container"><span></span><span></span><span></span><span></span>
      </div>
    </div>
  </div>
  <div class="page">
    <!-- Page Header-->
    <header class="section page-header">
      <!-- RD Navbar-->
      <!-- delete 55-433 -->
    </header>
    <!-- Breadcrumbs -->
    <section class="section breadcrumbs-custom-inset">
      <div class="breadcrumbs-custom context-dark">
        <div class="container">
          <h2 class="breadcrumbs-custom-title">Order Online</h2>
          <ul class="breadcrumbs-custom-path">
            <li><a href="/SpanTasty/StarCups">Home</a></li>
            <!-- <li><a href="grid-gallery.html">Menu</a></li> -->
            <li class="active">Order Online</li>
          </ul>
        </div>
        <div class="box-position novi-bg novi-bg-img" style="background-image: url(images/bg-breadcrumbs.jpg);"></div>
      </div>
    </section>
    <!-- Shop-->
    <section class="section novi-bg novi-bg-img section-xl bg-default">
      <div class="container">
        <div class="row row-90 row-fix justify-content-center">
          <div class="col-lg-8 col-xl-9">
            <div class="product-top-panel group-lg">
              <div class="product-top-panel-title">Showing 1–12 of 18 results</div>
              <div class="product-top-panel-select">
                <!--Select 2-->
                <select class="form-input select-filter" data-minimum-results-for-search="Infinity"
                  data-constraints="@Required">
                  <option value="1">Sort by new</option>
                  <option value="2">Sort by popular</option>
                  <option value="3">Sort by rating</option>
                </select>
              </div>
              <!-- 購物車 -->
              <div class="rd-navbar-basket-wrap">
                <div>
                  <button id="cartIcon" class="rd-navbar-basket rd-navbar-basket-mobile fl-bigmug-line-shopping198"
                    data-rd-navbar-toggle=".cart-inline">
                    <!-- 動態更新數量 -->
                    <span id="showCartAmount"></span></button>
                </div>
                <div class="cart-inline toggle-original-elements" id="cartContainer">
                  <!-- 動態插入資訊 -->
                  <div class="cart-inline-header" id="cartHeaderContainer">
                    <h5 class="cart-inline-title">In cart: <span id="showAmount">0</span> Products</h5>
                    <h6 class="cart-inline-title">Total price: <span id="showTotalPrice">$524</span></h6>
                  </div>
                  <div class="cart-inline-body">
                    <!-- 動態插入購物車內容 -->
                    <div class="cart-inline-item" id="cartItemsContainer">
                      <div class="unit align-items-center">
                        <div class="unit-left">
                          <div>
                            <a href="single-product.html">
                              <img src="/SpanTasty/upload/order/americano.jpeg" alt="" width="100" height="100" /></a>
                          </div>
                        </div>
                        <div class="unit-body">
                          <h6 class="cart-inline-name"><a href="single-product.html">Burdur Pearl</a></h6>
                          <div>
                            <div class="group-xs group-middle-2">
                              <div class="table-cart-stepper">
                                <div class="stepper">
                                  <input id="amountInput" class="form-input stepper-input" type="number"
                                    data-zeros="true" value="1" min="1" max="1000" />
                                  <span id="increaseBtn" class="stepper-arrow up"></span>
                                  <span id="decreaseBtn" class="stepper-arrow down"></span>
                                </div>
                              </div>
                              <h6 class="cart-inline-title" id="itemPrice"></h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="cart-inline-footer">
                    <div class="group-sm">
                      <a class="button button-md button-secondary button-pipaluk" th:href="@{/StarCups/order/cart}">Go
                        to
                        cart</a>
                    </div>
                  </div>
                </div>


              </div>
            </div>

            <div class="isotope-filters isotope-filters-horizontal">
              <button
                class="isotope-filters-toggle button button-md button-icon button-icon-right button-default-outline button-wapasha"
                data-custom-toggle="#isotope-1" data-custom-toggle-hide-on-blur="true"><span
                  class="icon fa fa-caret-down"></span>Filter</button>
              <ul class="isotope-filters-list" id="isotope-1">
                <li><a class="active" href="#" data-isotope-filter="*" data-isotope-group="gallery">全部</a></li>
                <li th:each="kind : ${foodKindList}">
                  <a href="#" th:attr="data-isotope-filter='Type ' + ${kind.foodKindId}" data-isotope-group="gallery"
                    th:text="${kind.foodKindName}"></a>
                </li>
              </ul>
            </div>
            <!-- 點餐 -->
            <div class="row row-lg row-40" id="menuContainer">
              <!-- 單一餐點顯示框 -->
              <div class="col-sm-6 col-md-4 " th:attr="data-filter='Type ' + ${food.foodKind.foodKindId}"
                th:each="food : ${foodList}">
                <!-- Product-->
                <article class="product">
                  <div class="product-figure"><img th:src="${food.foodPicture}" th:alt="${food.foodName}" width="270"
                      height="280" />
                    <div class="product-button">
                      <input type="hidden" class="foodId" th:value="${food.foodId}" />

                      <button class="button button-md button-white button-ujarak addToCartBtn">Add to cart</button>
                    </div>

                  </div>
                  <h5 class="product-title"><a th:text="${food.foodName}" href="#"></a></h5>
                  <div class="product-price-wrap">
                    <div class="product-price" th:text="'$' + ${food.foodPrice}"></div>
                  </div>
                </article>
              </div>

            </div>

            <div class="pagination-wrap">
              <!-- Bootstrap Pagination-->
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item page-item-control disabled"><a class="page-link" href="#"
                      aria-label="Previous"><span class="icon" aria-hidden="true"></span></a></li>
                  <li class="page-item active"><span class="page-link">1</span></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item page-item-control"><a class="page-link" href="#" aria-label="Next"><span
                        class="icon" aria-hidden="true"></span></a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-10 col-md-12 col-lg-4 col-xl-3">
            <!-- RD Search Form-->
            <!-- 
            <form class="form-search rd-search form-product-search" action="search-results.html" method="GET">
              <div class="form-wrap">
                <label class="form-label" for="search-form">Search..</label>
                <input class="form-input" id="search-form" type="text" name="s" autocomplete="off">
                <button class="button-search fl-bigmug-line-search74" type="submit"></button>
              </div>
            </form>
             -->
            <!-- 查詢輸入框 -->
            <div class="form-search rd-search form-product-search">
              <div class="form-wrap">
                <label class="form-label" for="search-form">Search..</label>
                <input class="form-input" id="nameSearch" type="text" name="s" autocomplete="off">
                <button class="button-search fl-bigmug-line-search74" id="nameSearchBtn"></button>
              </div>
            </div>

            <div class="row row-lg row-50 product-sidebar">
              <div class="col-md-6 col-lg-12">
                <h5>Popular categories</h5>
                <ul class="list list-shop-filter">
                  <li>
                    <label class="checkbox-inline">
                      <input name="input-group-radio" value="checkbox-1" type="checkbox">Marble
                    </label><span class="list-shop-filter-number">2</span>
                  </li>
                  <li>
                    <label class="checkbox-inline">
                      <input name="input-group-radio" value="checkbox-2" type="checkbox">Hardwood
                    </label><span class="list-shop-filter-number">1</span>
                  </li>
                  <li>
                    <label class="checkbox-inline">
                      <input name="input-group-radio" value="checkbox-3" type="checkbox">Limestone
                    </label><span class="list-shop-filter-number">3</span>
                  </li>
                  <li>
                    <label class="checkbox-inline">
                      <input name="input-group-radio" value="checkbox-4" type="checkbox">Vinyl
                    </label><span class="list-shop-filter-number">1</span>
                  </li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-12">
                <h5>Filter by price</h5>
                <!-- RD Range-->
                <div class="rd-range" data-min="0" data-max="999" data-min-diff="100" data-start="[66, 290]"
                  data-step="1" data-tooltip="false" data-input=".rd-range-input-value-1"
                  data-input-2=".rd-range-input-value-2"></div>
                <div class="group-sm group-justify shop-price">
                  <div>
                    <div class="button button-md button-primary button-pipaluk">Filter</div>
                  </div>
                  <div>
                    <div class="rd-range-wrap">
                      <div class="rd-range-title">Price:</div>
                      <div class="rd-range-form-wrap">
                        <input class="rd-range-input rd-range-input-value-1" id="test" type="text"
                          name="value-1"><span>$</span>
                      </div>
                      <div class="rd-range-divider"></div>
                      <div class="rd-range-form-wrap">
                        <input class="rd-range-input rd-range-input-value-2" type="text" name="value-2"><span>$</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-12">
                <h5>Popular products</h5>
                <div class="list-popular-product">
                  <div class="list-popular-product-item">
                    <!-- Product Minimal-->
                    <article class="product-minimal unit unit-spacing-md">
                      <div class="unit-left"><a class="product-minimal-figure" href="single-product.html"><img
                            src="images/product-mini-1-108x100.png" alt="" width="108" height="100" /></a></div>
                      <div class="unit-body">
                        <h6 class="product-minimal-title"><a href="single-product.html">Burdur pearl</a></h6>
                        <div class="product-minimal-price">$235.00</div>
                      </div>
                    </article>
                  </div>
                  <div class="list-popular-product-item">
                    <!-- Product Minimal-->
                    <article class="product-minimal unit unit-spacing-md">
                      <div class="unit-left"><a class="product-minimal-figure" href="single-product.html"><img
                            src="images/product-mini-2-108x100.png" alt="" width="108" height="100" /></a></div>
                      <div class="unit-body">
                        <h6 class="product-minimal-title"><a href="single-product.html">Old World Acacia</a></h6>
                        <div class="product-minimal-price">$290.00</div>
                      </div>
                    </article>
                  </div>
                  <div class="list-popular-product-item">
                    <!-- Product Minimal-->
                    <article class="product-minimal unit unit-spacing-md">
                      <div class="unit-left"><a class="product-minimal-figure" href="single-product.html"><img
                            src="images/product-mini-3-108x100.png" alt="" width="108" height="100" /></a></div>
                      <div class="unit-body">
                        <h6 class="product-minimal-title"><a href="single-product.html">Bastille Gray</a></h6>
                        <div class="product-minimal-price">$200.00</div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Page Footer-->
    <footer class="section footer-variant-2 footer-modern context-dark novi-bg novi-bg-img">
    </footer>
  </div>
  <!-- Global Mailform Output-->
  <div class="snackbars" id="form-output-global"></div>
  <!-- footer th:replace -->
  <div th:replace="~{starcups/display/footer}"></div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      //取得登入資訊
      const token = localStorage.getItem('token');
      
      // 名稱搜尋
      document.getElementById("nameSearchBtn").addEventListener("click", function () {
        getMenuByName();
      })

      // 顯示購物車內容
      document.getElementById("cartIcon").addEventListener("click", function (event) {
        event.stopPropagation(); // 阻止事件冒泡，避免點擊圖示時觸發關閉
        document.getElementById("cartContainer").classList.toggle("active");
      });

      //點擊其他地方隱藏購物車
      document.addEventListener("click", function (event) {
        // 如果點擊的不是購物車圖示或購物車內容
        if (!document.getElementById("cartIcon").contains(event.target) && !document.getElementById("cartContainer").contains(event.target)) {
          document.getElementById("cartContainer").classList.remove("active");
        }
      });


      reloadCartItems(); // 頁面加載時載入購物車

      const addToCartButtons = document.querySelectorAll(".addToCartBtn");
      // 加入購物車
      addToCartButtons.forEach(button => {
        button.addEventListener("click", function () {
          // 先檢查是否已登入
          if (!token) {
            alert('請先登入才能加入購物車');
            window.location.href = '/SpanTasty/StarCups/loginRegister';  // 導向登入頁面
            return; // 如果未登入則退出
          }
          // 取得與當前按鈕相鄰的隱藏 input (foodId)
          const foodId = this.previousElementSibling.value;

          // 顯示 foodId 或進行其他操作
          console.log("加入購物車的餐點 ID:", foodId);

          addToCartById(foodId)
        });
      });


    })

    function getMenuByName() {
      const foodName = document.getElementById("nameSearch").value;
      if (!foodName) {
        alert("請輸入餐點名稱！");
        return;
      }
      const params = {
        foodName: foodName
      };

      axios.get('http://localhost:8080/SpanTasty/order/menu/name', { params })
        .then(function (response) {
          // console.log(response.data)
          const menuList = response.data;
          const menuContainer = document.getElementById("menuContainer");

          //清空結果
          menuContainer.innerHTML = "";

          //結果顯示
          menuList.forEach(function (food) {
            const menuItem = `
          <div class="col-sm-6 col-md-4">
            <article class="product">
              <div class="product-figure">
                <img src="${food.foodPicture}" alt="${food.foodName}" width="270" height="280" />
                <div class="product-button">
                  <input type="hidden" class="foodId" th:value="${food.foodId}" />
                  <button class="button button-md button-white button-ujarak addToCartBtn">Add to cart</button>
                </div>
              </div>
              <h5 class="product-title"><a href="#">${food.foodName}</a></h5>
              <div class="product-price-wrap">
                <div class="product-price">$${food.foodPrice}</div>
              </div>
            </article>
          </div>
        `;
            menuContainer.insertAdjacentHTML("beforeend", menuItem);
            document.getElementById("nameSearch").value = "";

          })

        })
        .catch(function (error) {
          console.log(error);
        });
    }

    // 加入購物車
    function addToCartById(foodId) {
      axios.get(`http://localhost:8080/SpanTasty/order/menu/${foodId}`)
        .then(function (response) {
          // console.log(response.data)
          const foodData = response.data;
          // 建立新的購物車項目
          const cartItem = {
            foodId: foodData.foodId,
            foodName: foodData.foodName,
            foodPicture: foodData.foodPicture,
            foodPrice: foodData.foodPrice,
            quantity: 1 // 默認數量為 1
          };
          // 保存到 localStorage
          saveCartItemToLocalStorage(cartItem);
          // 更新購物車顯示
          addCartItemToDOM(cartItem);
        })
        .catch(function (error) {
          console.error("加入購物車失敗:", error);
        });
    }

    // 保存購物車項目到 LocalStorage
    function saveCartItemToLocalStorage(cartItem) {
      // 從 LocalStorage 中獲取現有的購物車數據
      let cart = JSON.parse(localStorage.getItem('cart')) || [];

      // 檢查購物車中是否已經有該商品
      const existingItemIndex = cart.findIndex(item => item.foodId === cartItem.foodId);

      if (existingItemIndex !== -1) {
        // 如果已有該商品，則增加數量
        cart[existingItemIndex].quantity += cartItem.quantity;
        // 更新 DOM 中的數量和價格顯示
        updateCartItemDOM(cart[existingItemIndex]);
      } else {
        // 如果沒有該商品，則新增一個
        cart.push(cartItem);
        // 將新項目添加到 DOM
        // addCartItemToDOM(cartItem);
      }

      // 將更新後的購物車數據保存回 LocalStorage
      localStorage.setItem('cart', JSON.stringify(cart));

      // 更新購物車顯示
      updateCartDisplay(cart);
    }

    // 動態更新購物車數量和總價
    function updateCartDisplay(cart) {
      const totalItems = cart.reduce((acc, item) => acc + item.quantity, 0);
      const totalPrice = cart.reduce((acc, item) => acc + item.foodPrice * item.quantity, 0);
      cart.forEach(item => {
        const itemTotalPrice = item.foodPrice * item.quantity;
        const itemPriceElement = document.getElementById(`itemPrice-${item.foodId}`);
        if (itemPriceElement) {
          itemPriceElement.textContent = `$${itemTotalPrice}`;
        }
        // document.getElementById(`itemPrice-${item.foodId}`).textContent = `$${itemTotalPrice}`;
      });
      // 更新顯示購物車圖示上的數量
      document.getElementById("showCartAmount").textContent = totalItems;
      // 更新購物車內 In cart 的數量
      document.getElementById("showAmount").textContent = totalItems;
      // 更新總價
      document.getElementById("showTotalPrice").textContent = `$${totalPrice}`;
    }

    // 更新購物車商品數量
    function updateQuantity(foodId, delta) {
      const cart = JSON.parse(localStorage.getItem('cart')) || [];
      const item = cart.find(i => i.foodId === foodId);

      if (item) {
        // 更新商品數量
        let newQuantity = item.quantity + delta;
        if (newQuantity >= 1 && newQuantity <= 1000) {
          item.quantity = newQuantity;
          localStorage.setItem('cart', JSON.stringify(cart));

          // 更新數量顯示
          document.getElementById(`amountInput-${foodId}`).value = item.quantity;

          // 重新計算並更新總價和數量
          updateCartDisplay(cart);
        }
      }
    }

    function updateCartItemDOM(cartItem) {
      console.log("更新數量")
      // 更新數量顯示
      const amountInputElement = document.getElementById(`amountInput-${cartItem.foodId}`);
      if (amountInputElement) {
        amountInputElement.value = cartItem.quantity;
      }

      // 更新單項商品的總價顯示
      const itemPriceElement = document.getElementById(`itemPrice-${cartItem.foodId}`);
      if (itemPriceElement) {
        const itemTotalPrice = cartItem.foodPrice * cartItem.quantity;
        itemPriceElement.textContent = `$${itemTotalPrice}`;
      }
    }

    // 將購物車項目動態添加到 DOM
    function addCartItemToDOM(cartItem) {
      // 檢查該項目是否已經存在於 DOM
      const existingCartItem = document.getElementById(`cartItem-${cartItem.foodId}`);
      if (existingCartItem) {
        // 如果項目已存在
        console.log("addcartitemtoDOM")
        return;
      }
      const cartItemHtml = `
      <div class="cart-inline-item" id="cartItem-${cartItem.foodId}">
        <div class="unit align-items-center">
          <div class="unit-left">
            <a href="single-product.html"><img src="${cartItem.foodPicture}" alt="" width="100" height="100" /></a>
          </div>
          <div class="unit-body">
            <h6 class="cart-inline-name"><a href="single-product.html">${cartItem.foodName}</a></h6>
            <div>
              <div class="group-xs group-middle-2">
                <div class="table-cart-stepper">
                  <div class="stepper">
                    <input id="amountInput-${cartItem.foodId}" class="form-input stepper-input" type="number" value="${cartItem.quantity}" min="1" max="1000" />
                    <span class="stepper-arrow up" id="increaseBtn-${cartItem.foodId}" data-id="${cartItem.foodId}"></span>
                    <span class="stepper-arrow down" id="decreaseBtn-${cartItem.foodId}" data-id="${cartItem.foodId}"></span>
                  </div>
                </div>
                <h6 class="cart-inline-title" id="itemPrice-${cartItem.foodId}">$${cartItem.foodPrice}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>`;

      const cartContainer = document.getElementById("cartItemsContainer");
      cartContainer.insertAdjacentHTML("beforeend", cartItemHtml);

      // 綁定數量增加事件
      document.getElementById(`increaseBtn-${cartItem.foodId}`).addEventListener("click", function () {
        console.log("數量增加")
        updateQuantity(cartItem.foodId, 1);
      });

      // 綁定數量減少事件
      document.getElementById(`decreaseBtn-${cartItem.foodId}`).addEventListener("click", function () {
        console.log("數量減少")
        updateQuantity(cartItem.foodId, -1);
      });
    }

    // 頁面加載時初始化購物車內容
    function reloadCartItems() {
      const cart = JSON.parse(localStorage.getItem('cart')) || [];
      const cartContainer = document.getElementById("cartItemsContainer");
      cartContainer.innerHTML = ''; // 清空現有的購物車項目
      cart.forEach(item => {
        addCartItemToDOM(item);
      });
      updateCartDisplay(cart); // 初始化顯示
    }

  </script>

  <!-- Javascript-->
  <script src="/SpanTasty/starcups/js/core.min.js"></script>
  <script src="/SpanTasty/starcups/js/script.js"></script>
</body>

</html>