<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class="wide wow-animation" lang="en">

<head>
  <title>Menu</title>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <!-- Stylesheets-->
  <!-- 更改樣式 -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Poppins:400,500%7CTeko:300,400,500%7CMaven+Pro:500">
  <link rel="stylesheet" href="/SpanTasty/starcups/css/bootstrap.css">
  <link rel="stylesheet" href="/SpanTasty/starcups/css/fonts.css">
  <link rel="stylesheet" href="/SpanTasty/starcups/css/style.css">
  <style>
    .ie-panel {
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
      clear: both;
      text-align: center;
      position: relative;
      z-index: 1;
    }

    html.ie-10 .ie-panel,
    html.lt-ie-10 .ie-panel {
      display: block;
    }
  </style>
</head>

<body>
  <!-- navbar  th:replace=-->
  <div th:replace="~{starcups/display/navbar}"></div>
  <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img
        src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
        alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
  </div>
  <div class="preloader">
    <div class="preloader-body">
      <div class="cssload-container"><span></span><span></span><span></span><span></span>
      </div>
    </div>
  </div>
  <div class="page">
    <!-- Page Header-->
    <header class="section page-header">
      <!-- RD Navbar-->
      
    </header>
    <!-- Breadcrumbs -->
    <section class="section breadcrumbs-custom-inset">
      <div class="breadcrumbs-custom context-dark">
        <div class="container">
          <h2 class="breadcrumbs-custom-title">Menu</h2>
          <ul class="breadcrumbs-custom-path">
            <li><a href="/SpanTasty/StarCups">Home</a></li>
            <!-- <li><a href="grid-gallery.html">Menu</a></li> -->
            <li class="active">Menu</li>
          </ul>
        </div>
        <div class="box-position novi-bg novi-bg-img" style="background-image: url(images/bg-breadcrumbs.jpg);"></div>
      </div>
    </section>
    <!-- Grid Gallery-->
    <section class="section novi-bg novi-bg-img section-xl bg-default text-center isotope-wrap">
      <div class="container">
        <div class="isotope-filters isotope-filters-horizontal">
          <button
            class="isotope-filters-toggle button button-md button-icon button-icon-right button-default-outline button-wapasha"
            data-custom-toggle="#isotope-1" data-custom-toggle-hide-on-blur="true"><span
              class="icon fa fa-caret-down"></span>Filter</button>
          <ul class="isotope-filters-list" id="isotope-1">
            <li><a class="active" href="#" data-isotope-filter="*" data-isotope-group="gallery">全部</a></li>
            <li th:each="kind : ${foodKindList}">
    		  <a href="#" th:attr="data-isotope-filter='Type ' + ${kind.foodKindId}" data-isotope-group="gallery" th:text="${kind.foodKindName}"></a>
  			</li>
          </ul>
        </div>
        <div class="row row-50 isotope" data-lightgallery="group">  
          <div class="col-md-6 col-lg-4 isotope-item" th:attr="data-filter='Type ' + ${food.foodKind.foodKindId}"  th:each="food : ${foodList}">
            <!-- Thumbnail Modern-->
            <article class="thumbnail thumbnail-modern thumbnail-sm">
              <a  th:href="${food.foodPicture}" data-lightgallery="item">
                <img th:src="${food.foodPicture}" th:alt="${food.foodName}" width="300px" />
              </a>
              <div class="thumbnail-modern-caption">
                <h5 class="thumbnail-modern-title" style="width: 300px">
                  <a th:text="${food.foodName}" href="#" ></a>
                  <span class="thumbnail-modern-subtitle" style="float: right;" th:text="'$' + ${food.foodPrice}"></span>
                </h5>
                 <p class="thumbnail-modern-subtitle" th:utext="${food.foodDescription != null && !food.foodDescription.isEmpty() ? food.foodDescription : '&nbsp;'}"></p>
                
              </div>
            </article>
          </div>
        </div>
        <div class="button-wrap">
          <button class="button button-md button-default-outline button-wapasha">Load More</button>
        </div>
      </div>
    </section>

    <!-- Page Footer-->
    <footer class="section footer-variant-2 footer-modern context-dark novi-bg novi-bg-img">
    </footer>
  </div>
  <!-- Global Mailform Output-->
  <div class="snackbars" id="form-output-global"></div>
  <!-- footer th:replace -->
  <div th:replace="~{starcups/display/footer}"></div>
  <!-- Javascript-->
  <script src="/SpanTasty/starcups/js/core.min.js"></script>
  <script src="/SpanTasty/starcups/js/script.js"></script>
</body>

</html>