<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>租借訂單</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<style>
	#card-warning {
	  background-color: #ffd966; 
	}
</style>
</head>
<body>
<div th:replace="~{display/navbar}" ></div>
<div class="content" id="content">
 <div class="container mt-5">
  <div class="row justify-content-center">
   <div class="col-5 text-align" style="font-size:13px">
    <div class="card shadow" id="card-warning" >
	<div class="card-header bg-transparent border-0 d-flex justify-content-between align-items-center">
    <h2 class="mb-0">租借訂單</h2>
    </div>
    <h5>訂單編號: #<span th:text="${rent.rentId}"></span></h5>   
    <h6>租借日期: <span th:text="${#dates.format(rent.rentDate, 'yyyy年MM月dd日')}"></span></h6>
    <div class="table-responsive">
    <table class="table table-warning table-striped" id="table">
        <tr>
            <th>用具編號</th>
            <th>品項數量</th>
            <th>項目押金</th>
            <th>歸還備註</th>
            <th>歸還狀態</th>
        </tr>
    <th:block th:each=" rentItem : ${rentItems}">
        <tr>
            <td th:text="${rentItem.tablewareId}"></td>
            <td th:text="${rentItem.rentItemQuantity}"></td>
            <td th:text="${rentItem.rentItemDeposit}"></td>
            <td th:text="${rentItem.returnMemo}"></td>
            <td class="align-middle">
				<span th:switch="${rentItem.returnStatus}">
				  <span th:case="1" class="badge bg-danger text-white">未歸還</span>
				  <span th:case="2" class="badge bg-success text-white">完全歸還</span>
				  <span th:case="3" class="badge bg-primary text-white">部分歸還</span>
				</span>
			</td>
        </tr>
    </th:block>
    </table>
    <h6>押金總額: <span th:text="${rent.rentDeposit}"></span></h6>
	 </div>
    </div>
   </div>
  </div>
 </div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function() {
		showSidebar('rental');
	});
</script>
<script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
<script th:src="@{/js/jquery-3.7.1.min.js}" ></script>
<script th:src="@{/js/axios.min.js}" ></script>
</body>
</html>