<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>新增環保用具</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<style>
.h {
	text-align: center;
}

</style>
</head>
<body>
    <div th:replace="~{display/navbar}"></div>
    <div class="content" id="container">
        <h2>請輸入關鍵字</h2>
        <table>
            <tr><td>
                <input type="text" id="input_keyword" placeholder="請輸入想搜尋環保用具"/>   
                <button id="send_btn" class="btn btn-primary btn-sm">確認</button>
            </td></tr>
        </table>

        <table class="table table-warning table-striped text-center" id="table"></table>
        
    </div>
<script>
    const url = 'http://localhost:8080/SpanTasty/tableware/get';
    const sendBtn = document.getElementById('send_btn');
    const table = document.getElementById('table');
    sendBtn.addEventListener('click', (e)=>{
    	sendBtn.disabled = true;
        const inputKeyword = document.getElementById('input_keyword').value;
        let dtoObject = {
            keyword: inputKeyword
        }
        axios.post(url,dtoObject)
        .then(res => {
            const tablewares = res.data;
            htmlMaker(tablewares);
        })
        .catch(err => {
            console.error(err); 
        })
        .finally(() => {
            sendBtn.disabled = false; // 请求完成后重新启用按钮
        });
    })
	
	function changeStatus(event, id) {
	    //event.preventDefault(); // 阻止默认提交行为
	    const statusUrl = `http://localhost:8080/SpanTasty/tableware/setPost/${id}`;
	
	    // 使用 axios 或 fetch 发送异步请求
	    axios.post(statusUrl)
        .then(response => {
            console.log("狀態更改成功", response);
            window.location.reload();
        })
        .catch(error => {
            console.error("狀態更改失敗", error);
        });
	}

	function updateData(event, id) {
	    //event.preventDefault(); // 阻止默认提交行为
	    const updateUrl = `http://localhost:8080/SpanTasty/tableware/set/${id}`;
	    window.location.href = updateUrl;
	}
	
    function htmlMaker(tablewares) {
        table.innerHTML = '';
        
        if (tablewares.length === 0) {
	        table.innerHTML = '<h6>沒有找到相關結果</h6>';
	        return;
	    }
        const thead = document.createElement('thead');
        thead.innerHTML = 
        `
		<tr>
			<th>用具編號</th>
			<th>用具名稱</th>
			<th>押金金額</th>
			<th>用具圖片</th>
			<th>用具描述</th>
			<th>用具狀態</th>
			<th>更改狀態</th>
			<th>修改資料</th>
		</tr>
		`;
        table.appendChild(thead);
        
        const tbody = document.createElement('tbody');

        tablewares.forEach(tableware =>{
        	// 如果有機會會使用關鍵字重新查詢一次 更改狀態後可以自動重新查詢回到原頁面
        	//const inputKeyword = document.getElementById('input_keyword').value;
        	//console.log(inputKeyword);
        	// 判斷tablewareStatus為 1 or 2
        	let status = '';
	        if (tableware.tablewareStatus === 1) {
	            status = '<span class="badge bg-success text-white">上架中</span>';
	        } else if (tableware.tablewareStatus === 2) {
	            status = '<span class="badge bg-danger text-white">下架中</span>';
	        }
	        
        	const tr = document.createElement('tr');
            tr.innerHTML = 
            `
			<td>${tableware.tablewareId}</td>
			<td>${tableware.tablewareName}</td>
			<td>${tableware.tablewareDeposit}</td>
			<td><img width="50px" src="${tableware.tablewareImage}" /></td>
			<td>${tableware.tablewareDescription}</td>
			<td class="align-middle">${status}</td>
			<td class="align-middle">
			    <button onclick="changeStatus(event, ${tableware.tablewareId})" class="btn btn-primary btn-sm">更改狀態</button>
			</td>
			<td class="align-middle">
			    <button onclick="updateData(event, ${tableware.tablewareId})" class="btn btn-light btn-sm">資料更新</button>
			</td>
            `;
            tbody.appendChild(tr);
        });
        table.appendChild(tbody);
    }
</script>
<script>
	document.addEventListener("DOMContentLoaded", function() {
		showSidebar('rental');
	});
</script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/axios.min.js}"></script>
</body>

</html>