<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增環保用具</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
    <div th:replace="~{display/navbar}"></div>
    <div class="container" id="container">
        <h2>請 輸 入 想 搜 尋 關 鍵 字</h2>
        <form method="get" class="btn btn-outline-warning btn-sm" action="/SpanTasty/tableware/showAll">
			<input type="submit" value="返回">
		</form>
        <table class="table table-warning table-striped" id="table">
            <tr>
                <td>
                   <td>環保用具名或特徵: <input type="text" name="keyword" />
                </td>
            </tr>
        </table>
		<input type="submit" value="確定" />
    </div>
   
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
</body>

</html>