<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>歸還環保用具</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<style>
.h {
	text-align: center;
}
form {
	width: 60%;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #ffd966;
}
</style>
<body>
    <div th:replace="~{display/navbar}"></div>
    <div class="content" id="container">
        <h2>輸入歸還資料</h2>
        <form th:action="@{/rent/setPut2}" th:method="post">
	    <input type="hidden" name="_method" value="put" />
	   	<table class="table table-warning table-striped" id="table">
        <tr><td>訂單編號: <input type="text" name="rentId" th:value="${rent.rentId}" readonly></td></tr>
        <tr><td>歸還日期: <input type="date" name="returnDate" th:value="${#dates.format(rent.returnDate, 'yyyy-MM-dd')}" readonly /></td></tr>
        <tr><td>歸還餐廳:
           <select name="returnRestaurantId" id="return_restaurant_id">
               <option value="" selected disabled>請選擇租借餐廳</option>
               <option th:each="restaurant : ${restaurants}" th:value="${restaurant.restaurantId}" th:text="${restaurant.restaurantName}"></option>
           </select>
		<p id="disabledMsg" style="color: red; display: none;">訂單已完全歸還，無法再更改。</p>
        </td></tr>
    	</table>
	    <input type="submit" id="submitBtn" value="確定歸還"/>
	    <input type="hidden" name="rentDeposit" th:value="${rent.rentDeposit}"/>
	    <input type="hidden" name="rentDate" th:value="${rent.rentDate}">
	    <input type="hidden" name="restaurantId" th:value="${rent.restaurantId}">
	    <input type="hidden" name="memberId" th:value="${rent.memberId}">
	    <input type="hidden" name="dueDate" th:value="${rent.dueDate}">
	    <input type="hidden" name="rentStatus" th:value="${rent.rentStatus}">
	    <input type="hidden" name="rentMemo" th:value="${rent.rentMemo}"/>
		</form>
    </div>
    <script>
    	window.onload = function() {
		    const returnRestaurantId = document.getElementById('return_restaurant_id');
        	const submitBtn = document.getElementById('submitBtn');
	        if (returnRestaurantId.value !== "") {
	            submitBtn.disabled = true;
	            returnRestaurantId.disabled = true;
	            document.getElementById('disabledMsg').style.display = 'block';
	        }
		};
    </script>
    <script>
	document.addEventListener("DOMContentLoaded", function() {
		showSidebar('rental');
	});
</script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
</body>

</html>