<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>新增環保用具庫存</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<style>
.h {
	text-align: center;
}
form {
	width: 60%;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #ffd966;
}
</style>
</head>
<body>
    <div th:replace="~{display/navbar}"></div>
    <div class="content" id="container">
        <h2>輸 入 環 保 用 具 庫 存 資 料</h2>
        <form th:action="@{/rent/setPut1}"  method="post">
    	<input type="hidden" name="_method" value="put"/>
        <table class="table table-warning table-striped" id="table">
            <tr><td>訂單編號:<input type="text" readonly name="rentId" th:value="${rent.rentId}"/></td></tr>
            <tr><td>租借押金:<input type="text" id="rent_deposit" name="rentDeposit" th:value="${rent.rentDeposit}"/></td></tr>
            <tr><td>租借日期:<input type="date" id="rent_date" name="rentDate" th:value="${rent.rentDate}"></td></tr>
            <tr><td>租借餐廳:
					<select name="restaurantId" id="restaurant_id">
                        <option value="" selected disabled>請選擇租借餐廳</option>
                        <option th:each="restaurant : ${restaurants}" th:value="${restaurant.restaurantId}" th:text="${restaurant.restaurantName}"></option>
                    </select>
			</td></tr>
            <tr><td>會員編號:
					<select name="memberId" id="member_id">
                        <option value="" selected disabled>請選擇會員編號</option>
						<option th:each="member : ${members}" th:value="${member.memberId}" th:text="${member.account}"></option>
                    </select>
			</td></tr>
            <tr><td>預定歸還:<input type="date" id="due_date" name="dueDate" th:value="${rent.dueDate}"></td></tr>
            <tr><td>實際歸還:<input type="date" id="return_date" name="returnDate" th:value="${rent.returnDate}"></td></tr>
            <tr><td>租借狀態: 
					<input type="radio" id="rent_status" value="1" name="rentStatus" th:value="${rent.rentStatus}"/>1:未歸還 
					<input type="radio" id="rent_status" value="2" name="rentStatus" th:value="${rent.rentStatus}"/>2:歸還
	        </td></tr>
            <tr><td>訂單備註:<input type="text" id="rent_memo" name="rentMemo" th:value="${rent.rentMemo}" /></td></tr>
            <tr><td>歸還餐廳:
					<select name="returnRestaurantId" id="return_restaurant_id">
                        <option value="" selected disabled>請選擇租借餐廳</option>
                        <option th:each="restaurant : ${restaurants}" th:value="${restaurant.restaurantId}" th:text="${restaurant.restaurantName}"></option>
                    </select>
					<p id="disabledMsg" style="color: red; display: none;">訂單已完全歸還，無法再更改。</p>
			</td></tr>
        </table>
        <input type="submit" id="submitBtn" value="確定更改">
        </form>
    </div>
    <script>
    	window.onload = function() {
		    const rentStatusElement = document.querySelector('input[name="rent_status"]:checked');
		    if (rentStatusElement) {
		        const rentStatus = rentStatusElement.value;
		        if (rentStatus === '2') {
		            document.getElementById('submitBtn').disabled = true;
		            document.getElementById('return_date').disabled = true;
		            document.getElementById('return_restaurant_id').disabled = true;
		            document.getElementById('restaurant_id').disabled = true;
		            document.getElementById('rent_deposit').disabled = true;
		            document.getElementById('member_id').disabled = true;
		            document.getElementById('rent_date').disabled = true;
		            document.getElementById('due_date').disabled = true;
		            document.getElementById('rent_memo').disabled = true;
		            document.getElementById('rent_status').disabled = true;
		            document.getElementById('disabledMsg').style.display = 'block';
		        }
		    }
		};
    </script>
    <script>
	document.addEventListener("DOMContentLoaded", function() {
		showSidebar('rental');
	});
</script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
</body>

</html>