<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>租借訂單</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{display/navbar}" ></div>
<div class="content" id="content">
    <h2>租 借 訂 單 系 統</h2>
    <form method="POST" class="btn" action="/EEIT187-6/Rent/getOption">
		<button type="button" class="btn btn-outline-warning btn-sm">新增訂單</button>
	</form>
    <table class="table table-warning table-striped" id="table">
    <th:block th:each=" rent : ${rents}">
        <tr>
            <th>訂單編號</th>
            <th>租借押金</th>
            <th>租借日期</th>
            <th>租借餐廳</th>
            <th>租借會員</th>
            <th>預定歸還</th>
            <th>實際歸還</th>
            <th>租借狀態(1:出租中 2:已歸還)</th>
            <th>訂單備註</th>
            <th>歸還餐廳</th>
        </tr>
        <tr>
            <td th:text="${rent.rentId}"></td>
            <td th:text="${rent.rentDeposit}"></td>
            <td th:text="${#dates.format(rent.rentDate, 'yyyy 年 MM 月 dd 日')}"></td>
            <td th:text="${rent.memberId}"></td>
            <td th:text="${#dates.format(rent.dueDate, 'yyyy 年 MM 月 dd 日')}"></td>
            <td th:text="${#dates.format(rent.returnDate, 'yyyy 年 MM 月 dd 日')}"></td>
            <td th:text="${rent.rentStatus}"></td>
            <td th:text="${rent.rentMemo}"></td>
            <td th:text="${rent.returnRestaurantId}"></td>
        </tr>

    </th:block>
    </table>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
<script th:src="@{/js/jquery-3.7.1.min.js}" ></script>
<script th:src="@{/js/axios.min.js}" ></script>
</body>
</html>