<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>租借訂單</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{display/navbar}" ></div>
<div class="content" id="content">
    <h2>租 借 訂 單 系 統</h2>
    <table class="table table-warning table-striped" id="table">
    <th:block th:each=" rentItem : ${rentItems}">
        <tr>
            <th>訂單編號</th>
            <th>用具編號</th>
            <th>品項數量</th>
            <th>項目押金</th>
            <th>歸還備註</th>
            <th>歸還狀態(1:未歸還 2:完全歸還 3:部分歸還)</th>
        </tr>
        <tr>
            <td th:text="${rentItem.rentId}"></td>
            <td th:text="${rentItem.tablewareId}"></td>
            <td th:text="${rentItem.rentItemQuantity}"></td>
            <td th:text="${rentItem.rentItemDeposit}"></td>
            <td th:text="${rentItem.returnMemo}"></td>
            <td th:text="${rentItem.returnStatus}"></td>
        </tr>
    </th:block>
    </table>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
<script th:src="@{/js/jquery-3.7.1.min.js}" ></script>
<script th:src="@{/js/axios.min.js}" ></script>
</body>
</html>