<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增環保用具庫存</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
    <div th:replace="~{display/navbar}"></div>
    <div class="container" id="container">
        <h2>輸 入 環 保 用 具 庫 存 資 料</h2>
        <form th:action="@{/tablewareStock/update}" th:method="put" th:object="${tablewareStock}">
        <table class="table table-warning table-striped" id="table">
            <tr>
                <td>
                    用具名稱: 
                    <input type="text" name="tableware_id" th:field="*{tablewareId}" readonly/>
                </td>
            </tr>
            <tr>
                <td>
                    餐廳名稱:
                    <input type="text" name="restaurantName" th:field="*{restaurantName}" readonly/>
                </td>
            </tr>
            <tr>
                <td>
                   用具庫存 <input th:field="*{stock}" class="form-control">
                </td>
            </tr>
        </table>
        <input type="submit" value="確定" />
        </form>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
</body>

</html>