<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>租借訂單</title>
<style>
.body {
    background-color: #e9f7ef; /* 背景色：淡綠 */
}

#card {
    background-color: #c8e6c9; /* 卡片背景色：淡綠 */
    border-radius: 10px;
}

.card-header {
    background-color: #81c784; /* 卡片標題背景色：中綠 */
    color: white;
}

#btn-green {
    background-color: #388e3c; /* 按鈕色：深綠 */
    color: white;
}

#btngreen {
    background-color: #C8FF9E; /* 按鈕色：深綠 */
    color: black;
}

#btn-green:hover {
    background-color: #2e7d32; /* 按鈕懸停色 */
}

#btn-light-green {
    background-color: #98c590; /* 輕綠按鈕 */
    color: white;
}

#btn-light-green:hover {
    background-color: #7ca779; /* 輕綠懸停色 */
}

.table {
    background-color: #f1f8e9; /* 表格背景：淡綠 */
}

.table thead {
    background-color: #a5d6a7; /* 表格標題：淺綠 */
    color: #1b5e20;
}
</style>
</head>
<body class="body">
<div th:replace="~{spantasty/display/navbar}" ></div>
<div class="content" id="content">
 <div class="container mt-4" style="font-size:15px" >
  <div class="row justify-content-center">
   <div class="col-11">
    <div class="shadow" id="card" >
	 <div class="card-header bg-transparent border-0 d-flex justify-content-between align-items-center">
        <h2 class="m-2">租借訂單系統</h2>
        <div class="d-grid gap-2 d-md-block m-2">
            <a th:href="@{/rent/getAll}" class="btn btn-sm" id="btngreen" >返回</a>
            <a th:href="@{/rent/add}" class="btn btn-sm" id="btngreen">新增訂單</a>
        </div>
	 </div>
        <div class="mt-0 mb-2 ms-2 gap-2 d-flex">
            <select id="rentId" class="form-select form-select-sm" style="width:180px">
                <option value="" selected disabled>請選擇訂單編號</option>
                <option th:each="rent : ${rents}" th:value="${rent.rentId}" th:text="${rent.rentId}"></option>
            </select>
            <select id="memberId" class="form-select form-select-sm" style="width:180px">
                <option value="" selected disabled>請選擇會員編號</option>
                <option th:each="member : ${members}" th:value="${member.memberId}" th:text="${member.account}"></option>
            </select>
            <select id="restaurantId" class="form-select form-select-sm" style="width:180px">
                <option value="" selected disabled>請選擇租借餐廳</option>
                <option th:each="restaurant : ${restaurants}" th:value="${restaurant.restaurantId}" th:text="${restaurant.restaurantName}"></option>
            </select>
            <button id="send_btn" class="btn btn-success btn-sm">搜尋</button>
            <button id="clear_btn" class="btn btn-sm" style="background-color:#baffbf">清空所有選項</button>
        </div>
        <div class="mt-0 mb-2 ms-2 gap-2 d-flex">
            <div class="form-check"><input type="radio" class="form-check-input" name="rentStatus" value="1" id="status_1" />出租中</div>
            <div class="form-check"><input type="radio" class="form-check-input" name="rentStatus" value="2" id="status_2" />已歸還</div>
            <input class="ms-2 form-control-sm  border-0" type="date" id="rentDateStart" />開始日期
            <input class="ps-2 form-control-sm  border-0" type="date" id="rentDateEnd" />結束日期
        </div>
	  <div class="table-responsive">
      <table class="table table-striped text-center" id="table">
      <thead>
        <tr>
            <th>訂單編號</th>
            <th>租借押金</th>
            <th>租借日期</th>
            <th>租借餐廳</th>
            <th>租借會員</th>
            <th>預定歸還</th>
            <th>實際歸還</th>
            <th>租借狀態</th>
            <th>訂單備註</th>
            <th>歸還餐廳</th>
            <th>查看訂單</th>
            <th>歸還訂單</th>
        </tr>
      </thead>
      <tbody>
      <th:block th:each=" rent : ${rents}">
        <tr>
            <td th:text="${rent.rentId}">訂單編號</td>
            <td th:text="${rent.rentDeposit}">租借押金</td>
            <td th:text="${#dates.format(rent.rentDate, 'yyyy年MM月dd日')}">租借日期</td>
            <td th:text="${rent.restaurantName}">租借餐廳</td>
            <td th:text="${rent.memberName}">租借會員</td>
            <td th:text="${#dates.format(rent.dueDate, 'yyyy年MM月dd日')}">預定歸還</td>
            <td th:text="${#dates.format(rent.returnDate, 'yyyy年MM月dd日')}">實際歸還</td>
            <td class="align-middle">
				<span th:switch="${rent.rentStatus}">
				  <span th:case="1" class="badge bg-danger text-white">出租中</span>
				  <span th:case="2" class="badge bg-success text-white">已歸還</span>
				</span>
			</td>
            <td th:text="${rent.rentMemo}">訂單備註</td>
            <td th:text="${rent.returnRestaurantName}">歸還餐廳</td>
            <td class="align-middle">
				<form th:action="@{/rent/set/{id}(id=${rent.rentId})}" th:method="get">
					<button type="submit" class="btn btn-sm" id="btn-light-green" name="action" value="get">查看</button>
               	</form>
			</td>
            <td class="align-middle">
				<form th:action="@{/rent/set/{id}(id=${rent.rentId})}" th:method="get">
					<button type="submit" class="btn btn-sm" id="btn-green" name="action" value="return">歸還</button>
               	</form>
			</td>
        </tr>
      </th:block>
      </tbody>
      </table>
	  </div>
     </div>
    <div>
     <ul th:if="${rentPages.totalPages > 1}" class="pagination">
         <li th:if="${rentPages.number > 0}" class="page-item"><a class="page-link" th:href="@{/rent/getAll(p=${rentPages.number})}" th:text="上一頁"></a></li>
         <li th:if="${rentPages.number == 0}" class="page-item disabled"><a class="page-link" th:text="沒有上一頁"></a></li>
     <th:block th:each="aNumber : ${#numbers.sequence(1, rentPages.totalPages)}">
         <li th:if="${rentPages.number + 1 == aNumber}" class="page-item active"><a class="page-link"><span th:text="${aNumber}"></span></a></li>
         <li th:if="${rentPages.number + 1 != aNumber}" class="page-item"><a class="page-link" th:href="@{/rent/getAll(p=${aNumber})}" th:text="${aNumber}"></a></li>
     </th:block>
         <li th:if="${rentPages.number + 1 < rentPages.totalPages}" class="page-item"><a class="page-link" th:href="@{/rent/getAll(p=${rentPages.number + 2})}" th:text="下一頁"></a></li>
         <li th:if="${rentPages.number + 1 == rentPages.totalPages}" class="page-item disabled"><a class="page-link" th:text="沒有下一頁"></a></li>
     </ul>
     <div>總共有 <span th:text="${rentPages.totalElements}"></span> 筆</div>
    </div>
   </div>
  </div>
 </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    showSidebar('rental');
});
</script>
<script>
const url = 'http://localhost:8080/SpanTasty/rent/get';
const sendBtn = document.getElementById('send_btn');
const table = document.getElementById('table');
sendBtn.addEventListener('click', (e)=>{
    sendBtn.disabled = true;
    const rentId = document.getElementById('rentId').value;
    const memberId = document.getElementById('memberId').value;
    const restaurantId = document.getElementById('restaurantId').value;
    const rentStatus = document.querySelector('input[name="rentStatus"]:checked') ? document.querySelector('input[name="rentStatus"]:checked').value : null;
    const rentDateStart = document.getElementById('rentDateStart').value;
    const rentDateEnd = document.getElementById('rentDateEnd').value;
    let dtoObject = {
        rentId: rentId,
        memberId: memberId,
        restaurantId: restaurantId,
        rentStatus: rentStatus ? parseInt(rentStatus) : null,
        rentDateStart: rentDateStart,
        rentDateEnd: rentDateEnd
    }
    axios.post(url,dtoObject)
    .then(res => {
        const rents = res.data;
        htmlMaker(rents);
    })
    .catch(err => {
        console.error(err); 
    })
    .finally(() => {
        sendBtn.disabled = false; // 请求完成后重新启用按钮
    });
})

const formatDate = (dateString) => {
    if (!dateString) return '';
    const date = new Date(dateString);
    return `${date.getFullYear()}年${(date.getMonth() + 1).toString().padStart(2, '0')}月${date.getDate().toString().padStart(2, '0')}日`;
};

function getRentItem(event, id) {
    //event.preventDefault(); // 阻止默认提交行为
    const getUrl = `http://localhost:8080/SpanTasty/rent/set/${id}?action=get`;
    window.location.href = getUrl;
}

function updateData(event, id) {
    //event.preventDefault(); // 阻止默认提交行为
    const updateUrl = `http://localhost:8080/SpanTasty/rent/set/${id}?action=return`;
    window.location.href = updateUrl;
}

function htmlMaker(rents) {
    table.innerHTML = '';
    if (rents.length === 0) {
        table.innerHTML = '<h6>沒有找到相關結果</h6>';
        return;
    }
    const thead = document.createElement('thead');
    thead.innerHTML = 
    `
    <tr>
        <th>訂單編號</th>
        <th>租借押金</th>
        <th>租借日期</th>
        <th>租借餐廳</th>
        <th>租借會員</th>
        <th>預定歸還</th>
        <th>實際歸還</th>
        <th>租借狀態</th>
        <th>訂單備註</th>
        <th>歸還餐廳</th>
        <th>查看訂單</th>
        <th>歸還訂單</th>
    </tr>
    `;
    table.appendChild(thead);
    
    const tbody = document.createElement('tbody');

    rents.forEach(rent =>{
        let status = '';
        if (rent.rentStatus === 1) {
            status = '<span class="badge bg-danger text-white">出租中</span>';
        } else if (rent.rentStatus === 2) {
            status = '<span class="badge bg-success text-white">已歸還</span>';
        }
        const tr = document.createElement('tr');
        tr.innerHTML = 
        `
        <td>${rent.rentId}</td>
        <td>${rent.rentDeposit}</td>
        <td>${formatDate(rent.rentDate)}</td>
        <td>${rent.restaurantName}</td>
        <td>${rent.memberName}</td>
        <td>${formatDate(rent.dueDate)}</td>
        <td>${formatDate(rent.returnDate)}</td>
        <td class="align-middle">${status}</td>
        <td>${rent.rentMemo}</td>
        <td>${rent.returnRestaurantName}</td>
        <td class="align-middle">
            <button onclick="getRentItem(event, ${rent.rentId})" class="btn btn-sm" id="btn-light-green">查看</button>
        </td>
        <td class="align-middle">
            <button onclick="updateData(event, ${rent.rentId})" class="btn btn-sm" id="btn-green" >歸還</button>
        </td>
        `;
        tbody.appendChild(tr);
    });
    table.appendChild(tbody);
}

const clearBtn = document.getElementById('clear_btn');
clearBtn.addEventListener('click', (e) => {
    // 清空所有輸入框和選項
    document.getElementById('rentId').value = '';
    document.getElementById('memberId').value = '';
    document.getElementById('restaurantId').value = '';
    document.getElementById('rentDateStart').value = '';
    document.getElementById('rentDateEnd').value = '';
    // 清空租借狀態的單選按鈕選中狀態
    const rentStatusRadios = document.getElementsByName('rentStatus');
    rentStatusRadios.forEach(radio => {
        radio.checked = false;
    });
});
</script>
</body>
</html>